body {
  margin: 0;
  font-family: sans-serif;
  background-color: #191c26;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: white;
}

.row {
  /* margin: 0 50px; */
  padding: 0 50px;
}

.displayNone {
  display: none;
}

.displayGrid {
  display: grid;
}

.gridRows {
  grid-template-rows: auto auto;
}

.displayBlock {
  display: block;
}

.displayFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.FlexAlign-itemsCenter {
  display: flex;
  align-items: center;
}

.flexJustify-contentCenter {
  display: flex;
  justify-content: center;
}

.displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayFlexAlign-itemsCenterAndJustify-contentSpace-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.positionRelative {
  position: relative;
}

.float-right {
  float: right;
}

.paddingLeftRight35px {
  padding-left: 35px;
  padding-right: 35px;
}

.paddingLeftRight20px {
  padding: 0 20px;
}

.paddingTopBottom25px {
  padding: 25px 50px;
}

.paddingTopBottom55px {
  padding: 55px 0;
}

.paddingTopBottom90px {
  padding: 90px 0;
}

.paddingTopBottom2rem {
  /* tương đương 32px */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.marginTop2rem {
  /* tương đương 32px */
  margin-top: 2rem;
}

.marginTop90px {
  margin-top: 90px;
}

.marginTopBottom90px {
  margin: 90px 0;
}

.marginTopBottom5px {
  margin: 5px 0;
}

.marginBottom16px {
  margin-bottom: 16px;
}

.marginBottom30px {
  margin-bottom: 30px;
}

.marginTopBottom3050px {
  margin: 30px 0 50px 0;
}

.marginLeftRight0375rem {
  margin: 0 0.375rem;
}

.margin-left60px {
  margin-left: 60px;
}

.marginRight230px {
  margin-right: 230px;
}

.marginLeftRight50px {
  margin: 0 50px;
}

.background-colorHex191c26 {
  background-color: #191c26;
}

.background-colorHex111319 {
  background-color: #111319;
}

.background-colorHexd54253 {
  background-color: #d54253;
}

.background-colorHex242836 {
  background-color: #242836;
}

.background-colorRgb30144255 {
  background-color: rgb(30, 144, 255);
}

.background-colorRgb2551650 {
  background-color: rgb(255, 165, 0);
}

.background-colorRgb98112233 {
  background-color: rgb(98, 112, 233);
}

.background-colorRgb231670 {
  background-color: rgb(23, 167, 0);
}

.background-colorRgb2555730 {
  background-color: rgb(255, 57, 30);
}

.background-colorRgb3162184 {
  background-color: rgb(3, 162, 184);
}

.colorHex868991 {
  color: #868991;
}

.colorHexb5bd68 {
  color: #b5bd68;
}

.colorHexb294bb {
  color: #b294bb;
}

.colorHexd54253 {
  color: #d54253;
}

.colorHexb8bcc6 {
  color: #b8bcc6;
}

.colorHex1e90ff {
  color: #1e90ff;
}

.colorOrange {
  color: orange;
}

.colorLime {
  color: lime;
}

.colorHexff0099 {
  color: #ff0099;
}

.colorHex3d4048 {
  color: #3d4048;
}

.colorHex8a96ff {
  color: #8a96ff;
}

.colorHex868990 {
  color: #868990;
}

.colorHexffbe3d {
  color: #ffbe3d;
}

.fontWeight700 {
  font-weight: 700;
}

.fontWeight600 {
  font-weight: 600;
}

.fontWeight400 {
  font-weight: 400;
}

.font-size1rem {
  font-size: 1rem;
}

.font-size1125rem {
  font-size: 1.125rem;
}

.btn {
  border: 2px solid #d54253;
}

.border {
  border: 1px solid yellow;
}

.border-radius05rem {
  border-radius: 0.5rem;
}

.borderNone {
  border: none;
}

.center {
  text-align: center;
}

.height4rem {
  height: 4rem;
}

.width237px {
  width: 237px;
}

.width400px {
  width: 400px;
}

.width520px {
  width: 520px;
}

.width460px {
  width: 460px;
}

.width715px {
  width: 715px;
}

.width840px {
  width: 840px;
}

.logoImage {
  width: 24px;
  height: 24px;
}

.title {
  color: #fafbfc;
  font-weight: 700;
  font-size: 2rem;
}

.descriptionUnderTitle {
  font-weight: 400;
  font-size: 1rem;
  color: #b8bcc6;
}
