body {
  margin: 0;
  font-family: sans-serif;
  background-color: #191c26;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: white;
}

.row {
  /* margin: 0 50px; */
  padding: 0 50px;
}

.displayNone {
  display: none;
}

.d-None {
  display: none !important;
}

.displayGrid {
  display: grid;
}

.gridRows {
  grid-template-rows: auto auto;
}

.displayBlock {
  display: block;
}

.displayFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.FlexAlign-itemsCenter {
  display: flex;
  align-items: center;
}

.flexJustify-contentCenter {
  display: flex;
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayFlexAlign-itemsCenterAndJustify-contentSpace-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.positionRelative {
  position: relative;
}

.float-right {
  float: right;
}

.paddingLeftRight8px {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.paddingLeftRight35px {
  padding-left: 35px;
  padding-right: 35px;
}

.paddingLeftRight20px {
  padding: 0 20px;
}

.paddingRight40px {
  padding-right: 40px !important;
}

.paddingTopBottom25px {
  padding: 25px 50px;
}

.paddingTopBottom55px {
  padding: 55px 0;
}

.paddingTopBottom90px {
  padding: 90px 0;
}

.paddingTopBottom2rem {
  /* tương đương 32px */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.marginTop8px {
  margin-top: 8px !important;
}

.marginTop10px {
  margin-top: 10px !important;
}

.marginTop14px {
  margin-top: 14px !important;
}

.marginTop2rem {
  /* tương đương 32px */
  margin-top: 2rem;
}

.marginTop90px {
  margin-top: 90px;
}

.marginTopBottom5px {
  margin: 5px 0;
}
.marginTopBottom90px {
  margin: 90px 0;
}

.marginBottom6px {
  margin-bottom: 6px;
}

.marginBottom12px {
  margin-bottom: 12px;
}

.marginBottom16px {
  margin-bottom: 16px;
}

.marginBottom30px {
  margin-bottom: 30px;
}

.marginTopBottom3050px {
  margin: 30px 0 50px 0;
}

.margin-left0px {
  margin-left: 0px !important;
}

.margin-left60px {
  margin-left: 60px;
}

.marginRight8px {
  margin-right: 8px;
}

.marginRight40px {
  margin-right: 40px !important;
}

.marginRight230px {
  margin-right: 230px;
}

.marginLeftRight50px {
  margin: 0 50px;
}

.marginLeftRight0375rem {
  margin: 0 0.375rem;
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}

.overflowScoll {
  overflow: scroll;
}

.background-colorHex13161b {
  background-color: #13161b;
}

.background-colorHex266baf {
  background-color: #266baf;
}

.background-colorHex57acdf {
  background-color: #57acdf;
}

.background-colorHex262aaf {
  background-color: #262aaf;
}

.background-colorHex58dcbd {
  background-color: #58dcbd;
}

.background-colorHex9d27b0 {
  background-color: #9d27b0;
}

.background-colorHexe91f63 {
  background-color: #e91f63;
}

.background-colorHex5528af {
  background-color: #5528af;
}

.background-colorHex191c26 {
  background-color: #191c26;
}

.background-colorHex111319 {
  background-color: #111319;
}

.background-colorHexd54253 {
  background-color: #d54253;
}

.background-colorHex242836 {
  background-color: #242836;
}

.background-colorRgb30144255 {
  background-color: rgb(30, 144, 255);
}

.background-colorRgb2551650 {
  background-color: rgb(255, 165, 0);
}

.background-colorRgb98112233 {
  background-color: rgb(98, 112, 233);
}

.background-colorRgb231670 {
  background-color: rgb(23, 167, 0);
}

.background-colorRgb2555730 {
  background-color: rgb(255, 57, 30);
}

.background-colorRgb3162184 {
  background-color: rgb(3, 162, 184);
}

.colorHexa3bbf5 {
  color: #a3bbf5;
}

.colorHex868991 {
  color: #868991;
}

.colorHexb5bd68 {
  color: #b5bd68;
}

.colorHexb294bb {
  color: #b294bb;
}

.colorHexd54253 {
  color: #d54253;
}

.colorHexb8bcc6 {
  color: #b8bcc6;
}

.colorHex1e90ff {
  color: #1e90ff;
}

.colorOrange {
  color: orange;
}

.colorLime {
  color: lime;
}

.colorHexff0099 {
  color: #ff0099;
}

.colorHex3d4048 {
  color: #3d4048;
}

.colorHex8a96ff {
  color: #8a96ff;
}

.colorHex868990 {
  color: #868990;
}

.colorHexffbe3d {
  color: #ffbe3d;
}

.colorHexcdd7db {
  color: #cdd7db;
}

.fontWeight700 {
  font-weight: 700;
}

.fontWeight600 {
  font-weight: 600;
}

.fontWeight400 {
  font-weight: 400;
}

.font-size8px {
  font-size: 8px !important;
}

.font-size10px {
  font-size: 10px !important;
}

.font-size12px {
  font-size: 12px;
}

.font-size14px {
  font-size: 14px;
}

.font-size16px {
  font-size: 16px !important;
}

.font-size18px {
  font-size: 18px !important;
}

.font-size1rem {
  font-size: 1rem;
}

.font-size1125rem {
  font-size: 1.125rem;
}

.btn {
  border: 2px solid #d54253;
}

.border {
  border: 1px solid yellow;
}

.border-red {
  border-color: 1px solid red !important;
}

.border-radius05rem {
  border-radius: 0.5rem;
}

.borderNone {
  border: none;
}

.text-alignCenter {
  text-align: center;
}

.textOn1Line,
.textOn2Line,
.textOn3Line,
.textOn4Line,
.textOn5Line {
  display: -webkit-box;
  overflow: hidden;
  /* theo chiều dọc */
  -webkit-box-orient: vertical;
  /* ngắt dòng ...  */
  word-break: break-word;
}

.textOn1Line {
  /* giới hạn số dòng */
  -webkit-line-clamp: 1;
}

.textOn2Line {
  /* giới hạn số dòng */
  -webkit-line-clamp: 2;
}

.textOn3Line {
  /* giới hạn số dòng */
  -webkit-line-clamp: 3;
}

.textOn4Line {
  /* giới hạn số dòng */
  -webkit-line-clamp: 4;
}

.textOn5Line {
  /* giới hạn số dòng */
  -webkit-line-clamp: 5;
}

.center {
  text-align: center;
}

.height4rem {
  height: 4rem;
}

.height24px {
  height: 24px;
}

.width16px {
  width: 16px;
}

.width24px {
  width: 24px;
}

.width224px {
  width: 224px;
}

.width237px {
  width: 237px;
}

.width400px {
  width: 400px;
}

.width460px {
  width: 460px;
}

.width475px {
  width: 475px;
}

.width520px {
  width: 520px;
}

.width674px {
  width: 674px;
}

.width715px {
  width: 715px;
}

.width840px {
  width: 840px;
}

.width-height16px {
  width: 16px !important;
  height: 16px !important;
}

.width-height44px {
  width: 44px !important;
  height: 44px !important;
}

.logoImage {
  width: 24px;
  height: 24px;
}

.title {
  color: #fafbfc;
  font-weight: 700;
  font-size: 2rem;
}

.descriptionUnderTitle {
  font-weight: 400;
  font-size: 1rem;
  color: #b8bcc6;
}
