/* header */
nav {
  margin: 20px 0;
  /* border: 1px solid yellow; */
}

.header__logoTek4 {
  margin-right: 30px;
}

.header__blockSearch {
  border-radius: 5px;
  background-color: rgb(27, 31, 39);
  height: 35px;
}

.header__blockSearch-logoSearch {
  margin: 0 5px;
}

.header__blockSearch-inputSearch {
  background-color: transparent;
  border: none;
  font-family: Inter;
  font-size: 14px;
  color: #868991;
}

.column-2 {
  /* cột 2 cách cột 1 và 3 ra 2 bên */
  margin: 0 auto;
}

.header__coursesAndNews {
  /* 2 img cách nhau */
  margin: 0 30px;
}

.header__loginAndRegister {
  margin-left: 30px;
  margin-right: 12px;
}

.header__ImgBanner {
  width: 100%;
  height: 8rem;
}

.description {
  margin-top: 10px;
  background: url("../img/hero-bg.png");
  /* border: 1px solid yellow; */
}

.description__btnStartNow {
  padding: 17px 63px;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 45px 0;
}

.description__logoCode {
  background-color: #8a96ff;
  padding: 2.9rem 1rem;
  border-radius: 5px;
  margin-right: 10px;
}

.description__blockDescription2 {
  border-radius: 5px;
  padding: 1rem;
  font-size: 0.8125rem;
  font-weight: 600;
  border: 1px solid rgba(138, 150, 255, 0.369);
  font-style: italic;
}

.description__backgroundImg {
  /* position: absolute; */
  width: 42.4375rem;
  /* height: 48.4375rem; */
  right: 0;
  margin-left: 60px;
  height: 640px;
}

.description__titleLogo {
  margin-left: 1.56rem;
}

.description__title {
  margin-top: 0.875rem;
}

.description__titleText {
  font-weight: 600;
  color: #b8bcc6;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.description__Python {
  background-color: #15171e;
  width: 18.625rem;
  position: absolute;
  top: 4rem;
  left: 15rem;
  font-size: 0.75rem;
  border: 0.8px solid;
  border-radius: 0.2rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #589c98 100%, #94ffff 0);
  /* độ ưu tiên cao hơn */
  z-index: 10;
}

.description__Cplusplus {
  width: clamp(19rem, 17vw, 25rem);
  height: clamp(10.75rem, 17vh, 15rem);
  background-color: #15171e;
  position: absolute;
  top: 14.5rem;
  left: clamp(16rem, 28vw, 25.5rem);
  font-size: 0.75rem;
  border: 1px solid;
  border-radius: 0.3rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #85a0ff 59%, #7c99ff 0);
  /* độ ưu tiên cao hơn */
  z-index: 10;
}

.description__JavaScript {
  width: clamp(16.9375rem, 16vw, 20rem);
  position: absolute;
  top: 27.125rem;
  left: 13rem;
  font-size: 0.75rem;
  background-color: #15171e;
  border-radius: 0.2rem;
  border: 0.7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #60589c 100%, #a092ff 0);
  /* độ ưu tiên cao hơn */
  z-index: 10;
  padding-bottom: 0.75rem;
}

.description__contentOfLanguage {
  font-family: Inconsolata, Inter;
  margin-left: 3.875rem;
  margin-right: 1.32rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}

.description__contentOfLanguage div {
  /* khoảng cách dòng */
  margin: 5px 0;
}

.description__blockLine {
  position: absolute;
  top: 11rem;
  width: clamp(19.5rem, 30.4vw, 27.375rem);
  height: 17.1rem;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    #790fff,
    #f99da8,
    #ffd0a4,
    #4a72ff
  );
}

.courses {
  padding: 3.5rem 0;
  /* border: 1px solid yellow; */
}

.blockCourse {
  height: 90%;
  margin: 0 1rem;
  background-color: #111319;
  padding: 1.5rem 1rem;
  border: 1px solid #3d4048;
  border-radius: 0.5rem;
}

.course__blockImage {
  position: relative;
  width: 23.125rem;
  height: 18.625rem;
  border-radius: 0.5rem;
}

.course__blockImage-img {
  border-radius: 0.5rem;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}

.course__descriptionDetailCourse {
  width: 23.125rem;
}

.course__descriptionDetailCourse div {
  margin: 10px 0;
}

.course__blockBtnStudyNow {
  float: right;
}

.course__studyNow {
  padding: 0.8rem 1.25rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(79, 9, 17, 0.24), inset 0 4px 4px #f36464;
  width: 6.4375rem;
  margin-bottom: 20px;
}

.course__btnNext {
  height: 55px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.702);
  border: none;
  border-radius: 0.5rem;
}

.courseAndPractice__btnSeeAllAndBtnPracticeNow {
  background-color: transparent;
  border-radius: 5px;
  height: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  border: 2px solid #1b1f27;
  font-weight: 600;
  border-radius: 0.5rem;
  margin: 30px 0 50px 0;
}

.practice {
  background: linear-gradient(0.809turn, #111319 61.65%, #191c26 101.68%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.blockPaddingAndWidthHeight {
  /* width: 100%; */
  width: 1340px;
  height: 25.312rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.practice__blockWriteCodeAndResult {
  width: 100%;
  background-color: #111319 !important;
  height: 100%;
  border: 1px solid #3d4048;
  border-radius: 4px;
}

.practice__blockWriteCode {
  width: 50%;
  border: 1px solid #3d4048;
  border-right: 1.25rem solid #191c26;
}

.blockFileAndResult {
  background-color: #111319;
  border-radius: 0 14px 0 0;
  margin-top: 0.25rem;
  padding: 1rem 2rem;
}

.chooseProgrammingLanguage {
  height: 40px;
  padding: 0 11px;
  background-image: linear-gradient(270deg, #111319 63.84%, #111319);
  border-radius: 0.5rem;
  color: #b8bcc6;
  border: none;
}

.practice__blockResult {
  width: 50%;
}

.practice__blockRotateAndRun {
  float: right;
}

.practice__loadRotate,
.practice__Run {
  background-color: transparent;
  border-radius: 5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  height: 2.1rem;
}

.practice__loadRotate {
  border: 2px solid #fafbfc;
  color: #fff;
  box-shadow: none;
}

.practice__Run {
  color: #d54253;
  border: 1px solid #1b1f27;
  margin: 0 25px 0 10px;
}

.AIguide__imgRobot1 {
  padding-right: 37px;
  padding-bottom: 65px;
}

.AIguide__description {
  width: 720px;
  margin-bottom: 3.5rem;
  margin-left: 3.375rem;
  padding-top: 4rem;
}

.AIguide__description div {
  /* khoảng cách dưới của các chữ  */
  margin-bottom: 18px;
}

.AIguide__btnChooseAI {
  box-shadow: 0 4px 16px rgba(79, 9, 17, 0.24), inset 0 4px 4px #f36464;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 6.75rem;
}

.AIguide__blockImgRobot2 {
  width: 100%;
  position: relative;
}

.AIguide__blockImgRobot2-img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 3.375rem;
}

.news {
  background-image: linear-gradient(
    0.809turn,
    #191c26 0.54%,
    #111319 61.65%,
    #191c26 101.68%
  );
  padding: 3.5rem 0;
}

.news__blockContent {
  border-radius: 0.5rem;
  background-color: #191c26;
  padding: 1rem 0 1rem 2rem;
}

.news__blockImg {
  border-radius: 0.5rem;
  padding: 1.625rem 1.8125rem;
  margin-left: 25px;
}

.news__titleTopic {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.news__titleAndPost {
  margin-right: 25px;
  width: 288px;
}

.technology-community {
  padding: 1.75rem 0;
  background-image: linear-gradient(
    0.809turn,
    #191c26 0.54%,
    #111319 61.65%,
    #191c26 101.68%
  );
}

.products {
  background-color: #191c26;
}
