* {
  box-sizing: border-box;
}

.navLeft__topicName {
  font-size: 12px;
}

.topics {
  margin-top: 47px;
}

.topics__topic-list {
  display: flex;
  justify-content: space-between;
}

.topics__topic-list .background-colorHexe91f63 {
  border: 1.6px solid #ffa8bd;
  box-shadow: #ffffff 0px 0px 4px 0px;
}

.topics__blockTopic {
  color: #e1e4eb;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 0 32px;
  border-radius: 4px;
  line-height: 48px;
}

.topics__exempleTopic {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.topics__exempleTopic-left {
  width: 49%;
  height: 388px;
  position: relative;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(17, 19, 25, 0), #111318);
  overflow: hidden;
}

.topics__imgBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.topics__btnKnowledge {
  position: absolute;
  top: 6.5%;
  left: 6.5%;
  min-width: 4.19rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
  background: linear-gradient(180deg, #c83546, #ff8795);
  border: none;
  border-radius: 0.25rem;
  padding: 4px 15px;
}

.topics__exempleTopic-content {
  position: absolute;
  width: 100%;
  bottom: 8.6%;
  left: 6.5%;
}

.topics__description {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #cdd7db;
}

.topics__description .iconDot {
  width: 0.35rem;
  height: 0.35rem;
  margin: 0 0.75rem;
}

.topics__description .topics__btnTopic {
  height: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4671ff;
  border: none;
  padding: 0 0.5rem;
  margin-right: 0.2rem;
  color: #cdd7db;
  border-radius: 2px;
  white-space: nowrap; /* không xuống dòng */
  overflow: hidden; /* ẩn nội dung bị thừa */
  text-overflow: ellipsis; /* thêm dấu ... đằng sau */
}

.topics__title {
  width: 90%;
  font-size: 20px;
  font-weight: 700;
  color: #e1e4eb;
}

.topics__exempleTopic-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topics__exempleTopic-right .container {
  width: 49%;
  height: 49%;
  position: relative;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(17, 19, 25, 0), #111318);
  overflow: hidden;
}

.topics__exempleTopic-right .topics__description {
  font-size: 8px;
}

.topics__exempleTopic-right .topics__btnTopic {
  height: 1.125rem;
  font-size: 8px;
}

.topics__exempleTopic-right .topics__title {
  font-size: 14px;
}

.trend {
  margin-top: 60px;
}

.trend__heading {
  display: flex;
}

.trend__heading-text {
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  margin-left: 7px;
  margin-bottom: 15px;
  padding-bottom: 16px;
  border-bottom: 0.25rem solid #111319;
}

.trend__heading-text span {
  position: relative;
  padding-right: 16px;
}

.trend__heading-text span::before {
  /* before hay after cũng vậy bởi vì định vị absolute mà */
  content: "";
  width: 100%;
  height: 0.375rem;
  background-color: #d54253;
  border-radius: 0.25rem;
  position: absolute;
  left: 0;
  bottom: -1.3rem;
}

.trend__content {
  margin: 0 -7px;
  padding: 0px 33px 63px 33px;
  display: flex;
  flex-wrap: wrap;
}

.trend__content-item {
  display: flex;
  padding-right: 63px;
  min-height: 175px;
  flex: 1;
  margin-top: 30px;
}

.trend-content-item__number {
  padding: 0 6px;
  position: relative;
}

.trend-content-item__number div {
  position: absolute;
  top: 15px;
  right: 26px;
  left: 26px;
  font-size: 30px;
  font-weight: 700;
}

.trend-content-item__content {
  min-width: 415px;
  padding: 0 6px;
}

.trend-content-item__content .blockAuthor {
  display: flex;
  align-items: center;
}

.trend-content-item__content .blockAuthor .logo {
  font-size: 14px;
  background-color: #d54253;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
}

.trend-content-item__content .blockAuthor .authorName {
  margin: 0 6px;
  color: #cdd7db;
  font-size: 14px;
  font-weight: 600;
}

.trend-content-item__content-headingName {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  margin-top: 13px;
  margin-bottom: 24px;
  /* giới hạn số dòng */
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  /* theo chiều dọc */
  -webkit-box-orient: vertical;
  /* ngắt dòng ...  */
  word-break: break-word;
  cursor: pointer;
}

.famousTopics {
  background-color: transparent;
}

.famousTopics__heading-text {
  margin-left: 0;
  border-bottom: 0.25rem solid #191c26;
}

.famousTopics__topic-list {
  display: flex;
}

.famousTopics__topic-item {
  margin: 0 5px;
  padding: 0 15px;
  min-height: 30px;
  background-color: #4d546a;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #e1e4eb;
  font-weight: 600;
}

.famousTopics__content {
  margin-top: 56px;
  margin-bottom: 47px;
  display: flex;
}

.famousTopics__content-left {
  flex: 2.3;
}

.famousTopics__topicContent-list {
  margin-bottom: 59px;
}

.famousTopics__topicContent-item {
  height: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #111319;
  border: 1px solid #3f5765;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  display: flex;
}

.famousTopics__itemImg {
  width: 315px;
  height: 200px;
  /* kiểu như cho ảnh zoom to lên á */
  object-fit: cover;
  border-radius: 8px;
  flex: 1;
}

.famousTopics__itemHeading {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 4px;
}

.famousTopics__topicContent-item .blockContent {
  padding: 0 7px;
  padding-top: 10px;
  flex: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.famousTopics__topicContent-item .blockAuthor {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.famousTopics__topicContent-item .blockAuthor .authorName {
  color: #6288ac;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
}

.famousTopics__itemDescription {
  /* giới hạn số dòng */
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  /* theo chiều dọc */
  -webkit-box-orient: vertical;
  /* ngắt dòng ...  */
  word-break: break-word;
  font-size: 12px;
  line-height: 19px;
}

.nextPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1.9;
  min-height: 37px;
  color: #b8bcc6;
}

.nextPage div {
  margin-left: 8px;
}

.nextPage .nextPage__btnNext:first-child {
  cursor: not-allowed;
}

.nextPage .nextPage__btnNext {
  background-color: #13161b;
  border-radius: 50%;
  border: 1px solid #b8bcc6;
  min-width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

.nextPage .numberOfPages {
  background-color: #13161b;
  border-radius: 50%;
  border: 1px solid #b8bcc6;
  min-width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.numberOfPages.onePage,
.nextPage .numberOfPages:hover,
.nextPage .nextPage__btnNext:hover {
  color: #d54253;
  border: 1px solid #d54253;
}

.nextPage .threeDots {
  min-width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.threeDots + div {
  margin-left: 0;
}

.famousTopics__content-right {
  flex: 1;
  margin-left: 16px;
  border: 1px solid #3f5765;
  padding: 25px;
  border-radius: 8px;
  /* chiều cao bằng nội dung thôi */
  height: max-content;
}

.famousTagList {
  font-size: 18px;
}

.famousTagList-item div {
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
}

.topAuthor-item {
  margin-bottom: 35px;
}

.topAuthor-item__info {
  position: relative;
}

.topAuthor-item__info .topAuthor-item__avatar {
  /* border: 1px solid #d54253; */
  border-radius: 50%;
  /* như kiểu ảnh zoom ra và bỏ đi phần rìa */
  object-fit: cover;
  display: inline-block;
  text-align: center;
  line-height: 44px;
}

.topAuthor-item__info .numberAuthour {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.topAuthor-item__info .iconPrize {
  width: 26px;
  height: 30px;
  margin-top: 3px;
}

.topAuthor-item .topAuthor-item__interact {
  min-height: 24px;
  margin-left: 10px;
}

.topAuthor-item__interact div {
  margin-right: 23px;
}

.topAuthor-item__interact div img {
  margin-right: 7px;
}

.topAuthor-item__interact .numberInteract {
  font-size: 10px;
  font-weight: 300;
}

.technology {
  margin-top: 20px;
  position: relative;
}

.technology .technology__arrow {
  position: absolute;
  top: 10px;
  right: 0;
}

.technology .technology__arrow div {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #d54253;
  cursor: pointer;
}

.technology .technology__arrow div:first-child {
  cursor: not-allowed;
  background-color: #3d4048;
  margin-right: 10px;
}

.technology-list .technology-list__firstImg {
  height: 14rem;
}

.technology-list .technology-list__firstImg img {
  width: 100%;
  height: 14rem;
  border-radius: 0.5rem;
  overflow: hidden;
  object-fit: cover;
}

.technology-list__firstDescription {
  line-height: 16px;
  margin-top: 14px;
  margin-bottom: 10px;
}

.technology-item {
  display: flex;
}

.technology-item .technology-item__img {
  flex: 1;
  display: flex;
  align-items: center;
}

.technology-item .technology-item__img img {
  width: 77px;
  height: 52px;
  object-fit: cover;
  border-radius: 3px;
}

.technology-item .technology-item__content {
  flex: 3;
}

.technology-item__content .blockAuthor {
  margin: 5px 0;
}

.technology-item__content .blockAuthor .logo {
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
}

.technology-item__content .blockAuthor .authorName {
  line-height: 16px;
  margin-left: 5px;
}

.technology__descriptionUnderTitle {
  margin-top: 4px;
  margin-bottom: 9px;
}
