.navLeft {
  position: fixed;
  top: 5.2rem;
  left: 0;
  color: #fff;
  text-align: center;
  height: calc(100vh - 5.3rem);
  padding: 0.2rem 0.5rem;
  width: 118px;
  background-color: #111319;
}

.navLeft__blockTopic {
  padding: 5px;
  border-radius: 5px;
}

.navLeft__blockTopic:hover {
  cursor: pointer;
  background: hsla(0, 0%, 77%, 0.2);
}

.line {
  margin: 0.5rem 0;
  border-top: 1px solid #353945;
}

.content {
  margin-top: 5.3rem;
  margin-left: 118px;
  padding: 0 111px;
}

.banner2 {
  background-color: #111319;
  margin-bottom: 5rem;
}

.header__ImgBanner {
  margin-top: 18px;
  width: 1170px;
  height: 130px;
}

.courses {
  padding: 0;
  padding-top: 30px;
}

.course__title {
  margin-bottom: 18px;
}

.course__descriptionUnderTitle {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.column {
  /* padding: 0 17px;
  position: relative; */
}

.course__cloumn1,
.course__cloumn2,
.course__cloumn3 {
  position: relative;
}

.tagBasic {
  position: absolute;
  top: 1rem;
  right: -4px;
  z-index: 1;
}

.blockCourse {
  height: 100%;
  margin: 0 0;
  background-color: #191c26;
  padding: 0;
  border: 2px solid #b8bcc6;
  border-radius: 0.5rem;
}

.course__descriptionDetailCourse {
  width: 320px;
  margin-left: 23px;
}

.course__descriptionDetailCourse-line {
  border-top: 1px solid #fff;
}

.course__blockBtnStudyNow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.course__btnStudyNow {
  margin-bottom: 0;
  padding: 4px 24px;
  font-size: 12px;
}

.course__blockRow2 {
  margin-top: 44px;
}

.practice__btnPracticeNow {
  border: 2px solid #d54253;
}

.roadmap {
  background-color: #111319;
  padding: 3.75rem 3.75rem 1rem;
}

.roadmap__descriptionUnderTitle {
  width: 875px;
}

.roadmap__col3 {
  margin-top: 45px;
}

.blockRoadmap {
  width: 390px;
  border: 1px solid #6288ac;
  border-radius: 0;
}

.roadmap__descriptionDetailCourse {
  width: 340px;
}

.course__blockImage {
  width: 100%;
}

.practice__btnPracticeNow {
  height: 35px;
}

.roadmap__seeMore {
  height: 3.5rem;
}

.practice {
  background: none;
  background-color: #111319;
  margin-top: 82px;
}

.practice__heading {
  padding-top: 64px;
}

.practice__descriptionUnderTitle {
  width: 748px;
}

.practice__practiceTopics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.practice__topic {
  padding: 0 17px;
}

.practice__blockTopic {
  width: 356px;
  border: 1px solid #777682;
  border-radius: 5px;
  padding: 24px 9px;
}

.practice__topicContent {
  display: flex;
  margin-bottom: 22px;
}

.practice__blockImg {
  padding: 16px 9px 0px 9px;
}

.practice__textContent {
  padding: 0 8px;
}

.practice__titleTopic,
.practice__descriptionUnderTitleTopic,
.numberOfLessons {
  width: 237px;
  white-space: nowrap; /* không xuống dòng */
  overflow: hidden; /* ẩn nội dung bị thừa */
  text-overflow: ellipsis; /* thêm dấu ... đằng sau */
}

.practice__titleTopic {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.practice__descriptionUnderTitleTopic {
  color: #b8bcc6;
  margin-bottom: 8px;
}

.numberOfLessons {
  color: #b8bcc6;
  font-size: 13.2px;
  margin-bottom: 13px;
}

.practice__btnStart {
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.practice__btnStart img {
  margin-right: 7px;
}

.avatar {
  border: 1px solid #f4f4f4;
  border-radius: 50%;
}

.practice__avatars .avatar1 {
  width: 28px;
  height: 28px;
}

.practice__avatars .avatar2 {
  width: 24px;
  height: 24px;
}

.practice__avatars .avatar3 {
  width: 20px;
  height: 20px;
}

.tutorial {
  margin-top: 120px;
}

.tutorial__topics {
  margin: 32px -16px 55px -16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tutorial__topic {
  padding: 0 17px 32px 17px;
  width: 600px;
}

.tutorial__topic-content {
  background: #111319;
  border: 1px solid #3d4048;
  border-radius: 0.5rem;
  box-shadow: 0 14px 10px rgba(0, 0, 0, 0.33), 0 10px 4px rgba(0, 0, 0, 0.22);
}

.tutorial__topic .heading {
  background-color: #000;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem 1.5rem;
  height: 65px;
  display: flex;
  align-items: center;
}

.tutorial__topic .heading div {
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 0;
}

.lessons-list {
  display: flex;
  margin-bottom: 20px;
}

.lessons {
  width: 141px;
  height: 120px;
}

.lessons-blockImg {
  margin-top: 20px;
  padding: 0 40px;
}

.lessons-img {
  width: 63px;
  height: 46px;
}

.img41x46 {
  width: 41px;
  height: 46px;
}

.img46x46 {
  width: 46px;
  height: 46px;
}

.lessonName {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer {
  padding: 2rem 25px;
  margin-left: -111px;
  margin-right: -111px;
}

* {
  box-sizing: border-box;
}
