<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEK4.VN - Cộng đồng công nghệ cho người Việt</title>
    <link rel="shortcut icon" href="../../../public/img/logoTek4.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/all.css">
    <link rel="stylesheet" href="../../../public/css/home.css">
</head>

<body>
    <header>
        <nav>
            <div class="row displayFlex">
                <div class="column column-1 FlexAlign-itemsCenter">
                    <a href="" class="header__logoTek4">
                        <img src="../../../public/img/logo.webp" alt="Logo Tek4">
                    </a>
                    <div class="header__blockSearch FlexAlign-itemsCenter">
                        <img class="header__blockSearch-logoSearch" src="../../../public/img/search-default-icon.svg"
                            alt="Search">
                        <input class="header__blockSearch-inputSearch" disabled placeholder="Tìm kiếm trên TEK4.VN">
                    </div>
                </div>
                <div class="column column-2 FlexAlign-itemsCenter">
                    <a href="#" class="header__coursesAndNews">
                        <img class="logoImage" src="../../../public/img/course.svg" alt="Course">
                    </a>
                    <a href="#" class="header__coursesAndNews">
                        <img class="logoImage" src="../../../public/img/news2.svg" alt="News">
                    </a>
                </div>
                <div class="column column-3 FlexAlign-itemsCenter">
                    <a href="#">
                        <img class="logoImage" src="../../../public/img/menu.svg" alt="Menu">
                    </a>
                    <a href="#" class="header__loginAndRegister">
                        <span>Đăng nhập/Đăng ký</span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="row banner">
            <img class="header__ImgBanner" src="../../../public/img/banner.png" alt="Banner">
        </div>
    </header>
    <main>
        <section class="description">
            <div class="row displayFlex">
                <div class="column margin-left60px paddingLeftRight35px positionRelative">
                    <div class="title marginTop90px width460px">
                        <span>Nơi tốt nhất để học tập, rèn luyện kỹ năng, tìm kiếm việc làm và chia sẻ tri thức</span>
                    </div>

                    <button class="description__btnStartNow btn background-colorHexd54253">
                        <span>Bắt đầu ngay</span>
                    </button>

                    <div class="description__iconAndDescription displayFlex width460px">
                        <div class="description__logoCode displayFlexCenter">
                            <img src="../../../public/img/code.svg" alt="Code">
                        </div>
                        <div class="description__blockDescription2 colorHex8a96ff">
                            Học dễ hiểu - Đi đúng lộ trình
                            <br>
                            Rèn luyện kỹ năng bài bản - Nhận phản hồi trực tiếp
                            <br>
                            Kết nối cộng đồng để tạo ra cơ hội nghề nghiệp bền vững.
                        </div>
                    </div>
                </div>
                <div class="column description__programmingLanguage paddingLeftRight35px positionRelative">
                    <div class="description__backgroundImg">
                        <img class="description__backgroundImg-img" src="../../../public/img/circle3.webp"
                            alt="ImageCricle">
                    </div>
                    <div class="description__Python">
                        <div class="description__title displayFlex">
                            <div class="description__titleLogo">
                                <img class="logoImage" src="../../../public/img/python-red-icon.svg" alt="">
                            </div>
                            <div class="description__titleText">Python</div>
                        </div>
                        <div class="description__contentOfLanguage">
                            <div>
                                <span class="colorHex1e90ff">import</span>
                                <span>tensorflow</span>
                            </div>
                            <div>
                                <span class="colorOrange">print</span>
                                <span>(</span>
                                <span class="colorLime">“Học”</span>
                                <span>)</span>
                            </div>
                            <div>
                                <span class="colorOrange">print</span>
                                <span>(</span>
                                <span class="colorLime">“Theo lộ trình đầy đủ”</span>
                                <span>)</span>
                            </div>
                            <div>
                                <span class="colorOrange">print</span>
                                <span>(</span>
                                <span class="colorLime">“Phản hồi tức thời với AI”</span>
                                <span>)</span>
                            </div>
                        </div>
                    </div>
                    <div class="description__Cplusplus">
                        <div class="description__title displayFlex">
                            <div class="description__titleLogo">
                                <img class="logoImage" src="../../../public/img/c++-red-icon.svg" alt="">
                            </div>
                            <div class="description__titleText ">C++</div>
                        </div>
                        <div class="description__contentOfLanguage">
                            <div>
                                <span class="colorHex3d4048">#</span>
                                <span class="colorHex1e90ff">include</span>
                                <span class="colorLime">&lt;iostream&gt;</span>
                            </div>
                            <div>
                                <span class="colorHexff0099">int main</span>
                                <span>()</span>
                                <span>{</span>
                            </div>
                            <div>
                                <span>std::cout&lt;&lt;</span>
                                <span class="colorLime">"Luyện tập"</span>
                                <span> &lt;&lt;endl;</span>
                            </div>
                            <div>
                                <span>std::cout&lt;&lt;</span>
                                <span class="colorLime">"Phong phú"</span>
                                <span> &lt;&lt;endl;</span>
                            </div>
                            <div>
                                <span>std::cout&lt;&lt;</span>
                                <span class="colorLime">"Dự án thực tế"</span>
                                <span> &lt;&lt;endl;</span>
                            </div>
                            <div>
                                <span>}</span>
                            </div>
                        </div>
                    </div>
                    <div class="description__JavaScript">
                        <div class="description__title displayFlex">
                            <div class="description__titleLogo">
                                <img class="logoImage" src="../../../public/img/js-red-icon.svg" alt="">
                            </div>
                            <div class="description__titleText">JavaScript</div>
                        </div>
                        <div class="description__contentOfLanguage">
                            <div>
                                <span class="colorHexff0099">console.log</span>
                                <span>(</span>
                                <span class="colorLime">"Đánh giá"</span>
                                <span>)</span>
                            </div>
                            <div>
                                <span class="colorHexff0099">console.log</span>
                                <span>(</span>
                                <span class="colorLime">"Kỹ năng thiết yếu cho công việc"</span>
                                <span>)</span>
                            </div>
                            <div>
                                <span class="colorHexff0099">console.log</span>
                                <span>(</span>
                                <span class="colorLime">"Kho đề thi chuẩn hóa phong phú"</span>
                                <span>)</span>
                            </div>
                        </div>
                    </div>
                    <div class="description__blockLine"></div>
                </div>
            </div>
        </section>

        <section class="courses">
            <div class="row center">
                <div class="title marginTopBottom5px">Phong cách học tập thực chiến</div>
                <div class="descriptionUnderTitle marginTopBottom5px">Phương pháp học tốt nhất là thực hành.</div>
                <div class="descriptionUnderTitle marginTopBottom5px">Hệ thống học tập bài bản theo lộ trình với
                    hàng ngàn bài
                    tập thực hành. Học là
                    làm được. Hoàn toàn
                    miễn phí</div>
            </div>

            <div class="row center marginTop2rem marginBottom16px">
                <div class="">
                    <a href="">
                        <span class="colorHex8a96ff fontWeight700">Khóa học</span>
                    </a>
                    <a href="" class="marginLeftRight50px">
                        <span>Luyện tập</span>
                    </a>
                    <a href="">
                        <span>Lộ trình</span>
                    </a>
                </div>
            </div>

            <div class="row displayFlex">
                <div class="displayFlexCenter">
                    <button class="course__btnNext">
                        <img class="course__nextImg" src="../../../public/img/arrow-left-red.svg" alt="Arrow Left">
                    </button>
                </div>
                <div class="column marginLeftRight0375rem">
                    <div class="blockCourse">
                        <div class="course__blockImage marginBottom16px">
                            <img class="course__blockImage-img" src="../../../public/img/thumbnail.webp" alt="">
                        </div>
                        <div class="course__descriptionDetailCourse">
                            <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <span class="assess colorHexffbe3d">
                                    5.0
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <span class="colorHex868990">[65563]</span>
                                </span>
                                <div><i class="fa-solid fa-heart"></i></div>
                            </div>
                            <a href="">
                                <span class="fontWeight700 font-size1125rem">
                                    Lập trình Python cơ bản
                                </span>
                            </a>
                            <div>259 <span class="colorHexb8bcc6">bài học</span></div>
                            <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                            <div class="colorHex1e90ff">Nghề nghiệp</div>
                            <div class="course__blockBtnStudyNow">
                                <button class="course__studyNow btn background-colorHexd54253">
                                    <span>Học ngay</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column marginLeftRight0375rem">
                    <div class="blockCourse">
                        <div class="course__blockImage marginBottom16px">
                            <img class="course__blockImage-img" src="../../../public/img/thumbnail (1).webp" alt="">
                        </div>
                        <div class="course__descriptionDetailCourse">
                            <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <span class="assess colorHexffbe3d">
                                    5.0
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <span class="colorHex868990">[45740]</span>
                                </span>
                                <div><i class="fa-solid fa-heart"></i></div>
                            </div>
                            <a href="">
                                <span class="fontWeight700 font-size1125rem">
                                    Lập trình C cơ bản
                                </span>
                            </a>
                            <div>245 <span class="colorHexb8bcc6">bài học</span></div>
                            <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                            <div class="colorHex1e90ff">Nghề nghiệp</div>
                            <div class="course__blockBtnStudyNow">
                                <button class="course__studyNow btn background-colorHexd54253">
                                    <span>Học ngay</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column marginLeftRight0375rem">
                    <div class="blockCourse">
                        <div class="course__blockImage marginBottom16px">
                            <img class="course__blockImage-img " src="../../../public/img/thumbnail (2).webp" alt="">
                        </div>
                        <div class="course__descriptionDetailCourse">
                            <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <span class="assess colorHexffbe3d">
                                    5.0
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <span class="colorHex868990">[43731]</span>
                                </span>
                                <div><i class="fa-solid fa-heart"></i></div>
                            </div>
                            <a href="">
                                <span class="fontWeight700 font-size1125rem">
                                    Lập trình C++ từ cơ bản đến nâng cao
                                </span>
                            </a>
                            <div>2346 <span class="colorHexb8bcc6">bài học</span></div>
                            <div>Độ khó: <span class="colorHexb8bcc6">Trung bình</span></div>
                            <div class="colorHex1e90ff">Nghề nghiệp</div>
                            <div class="course__blockBtnStudyNow">
                                <button class="course__studyNow btn background-colorHexd54253">
                                    <span>Học ngay</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="displayFlexCenter">
                    <button class="course__btnNext ">
                        <img class="course__nextImg" src="../../../public/img/arrow-right-red.svg" alt="Arrow Right">
                    </button>
                </div>
            </div>
            <div class="row displayFlexCenter">
                <button class="courseAndPractice__btnSeeAllAndBtnPracticeNow displayFlexCenter">
                    <span class="colorHexd54253">Xem tất cả</span>
                    <img class="courseAndPractice__nextImg" src="../../../public/img/arrow-right-red.svg"
                        alt="Arrow Right">
                </button>
            </div>
        </section>

        <section class="practice paddingTopBottom2rem">
            <div class="row center">
                <div class="title marginTopBottom5px">Thực hành ngay khi học</div>
                <div class="displayFlexCenter descriptionUnderTitle">
                    <div class="marginTopBottom5px width840px font-size1125rem">Công nghệ học tập
                        tương tác kết hợp
                        với
                        hệ thống
                        chấm code tự động bằng AI giúp bạn nhận được những phản hồi nhanh nhất để điều chỉnh việc học
                        tập
                        của mình một cách hiệu quả.</div>
                </div>
            </div>

            <div class="row marginTop2rem">
                <div class="blockPaddingAndWidthHeight">
                    <div class="practice__blockWriteCodeAndResult displayFlex">
                        <div class="column practice__blockWriteCode">
                            <div
                                class="practice__blockFileAndChooseLaguage background-colorHex242836 displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <div class="blockFileAndResult">main.py</div>
                                <select class="chooseProgrammingLanguage " title="chooseProgrammingLanguage" name="">
                                    <option value="">C</option>
                                    <option value="">C++</option>
                                    <option selected value="Python 3">Python 3</option>
                                    <option value="">TypeScript</option>
                                    <option value="">Go</option>
                                </select>
                            </div>
                            <div class="displayFlex">
                                <div class="paddingLeftRight20px">
                                    <div>1</div>
                                    <div>2</div>
                                    <div>3</div>
                                    <div>4</div>
                                    <div>5</div>
                                </div>
                                <div>
                                    <div>
                                        <span class="colorHexb294bb">print</span>
                                        <span>(</span>
                                        <span class="colorHexb5bd68">"TEK4.VN"</span>
                                        <span>)</span>
                                    </div>
                                    <div><br></div>
                                    <div>
                                        <span class="colorHexb294bb">print</span>
                                        <span>(</span>
                                        <span class="colorHexb5bd68">"Xin chào các bạn"</span>
                                        <span>)</span>
                                    </div>
                                    <div><br></div>
                                    <div>
                                        <span class="colorHexb294bb">print</span>
                                        <span>(</span>
                                        <span class="colorHexb5bd68">"Hãy tiếp tục học và luyện tập nhé"</span>
                                        <span>)</span>
                                    </div>
                                </div>
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br>
                            <div class="practice__blockRotateAndRun displayFlex">
                                <button class="practice__loadRotate" title="Load">
                                    <span>
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </span>
                                </button>
                                <button class="practice__Run">
                                    <i class="fa-solid fa-play"></i>
                                    <span class="colorHexd54253">Run</span>
                                </button>
                            </div>
                        </div>
                        <div class="column practice__blockResult">
                            <div class="background-colorHex242836 displayFlex">
                                <div class="blockFileAndResult">Kết quả</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row displayFlexCenter">
                <button class="courseAndPractice__btnSeeAllAndBtnPracticeNow displayFlexCenter">
                    <span class="colorHexd54253">Trải nghiệm ngay</span>
                    <img class="courseAndPractice__nextImg" src="../../../public/img/arrow-right-red.svg"
                        alt="Arrow Right">
                </button>
            </div>
        </section>

        <section class="AIguide">
            <div class="row displayFlex">
                <div class="column AIguide__imgRobot1">
                    <img src="../../../public/img/robot.webp" alt="Robot">
                </div>
                <div class="column">
                    <div class="AIguide__description">
                        <div class="colorHex8a96ff fontWeight600">Bạn chưa biết bắt đầu từ đâu?</div>
                        <div class="title">Công nghệ AI sẽ giúp bạn lựa chọn lộ trình học
                            tập bài bản</div>
                        <div class="descriptionUnderTitle">Bạn chỉ cần trả lời một vài câu hỏi nhỏ, đơn giản hệ thống AI
                            được xây dựng từ hàng triệu điểm
                            dữ liệu của <span class="colorHexd54253">TEK4.VN</span> sẽ gợi ý và đưa ra những lời khuyên
                            hữu
                            ích cho bạn về lộ trình
                            nghề nghiệp
                            của mình.
                        </div>
                        <button class="AIguide__btnChooseAI btn background-colorHexd54253">
                            <span>Chọn nghề cùng AI</span>
                        </button>
                    </div>
                </div>
                <div class="column AIguide__blockImgRobot2">
                    <img class="AIguide__blockImgRobot2-img" src="../../../public/img/robot2.webp" alt="Robot">
                </div>
            </div>
        </section>

        <section class="news center">
            <div class="row">
                <div class="title">Cập nhật tin tức, học hỏi và chia sẻ kiến thức</div>
                <div class="descriptionUnderTitle marginTopBottom3050px">"Tự tin cập nhật tin tức nóng hổi, trải nghiệm
                    học tập đa dạng và
                    giao lưu chia sẻ kiến thức với cộng đồng."</div>
                <div class="displayFlex marginBottom30px">
                    <a href="#">
                        <div class="column news__blockContent displayFlexCenter">
                            <div class="news__blockImg background-colorRgb30144255">
                                <img src="../../../public/img/knowledge.svg" alt="Kiến thức">
                            </div>
                            <div class="news__titleAndPost">
                                <div class="news__titleTopic">Kiến thức</div>
                                <div class="descriptionUnderTitle">8 bài viết</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="paddingLeftRight20px">
                        <div class="column news__blockContent displayFlexCenter">
                            <div class="news__blockImg background-colorRgb2551650">
                                <img src="../../../public/img/news.svg" alt="Tin tức">
                            </div>
                            <div class="news__titleAndPost">
                                <div class="news__titleTopic">Tin tức</div>
                                <div class="descriptionUnderTitle">999+ bài viết</div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="column news__blockContent displayFlexCenter">
                            <div class="news__blockImg background-colorRgb98112233">
                                <img src="../../../public/img/review.svg" alt="Review">
                            </div>
                            <div class="news__titleAndPost">
                                <div class="news__titleTopic">Review</div>
                                <div class="descriptionUnderTitle">0 bài viết</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="displayFlex">
                    <a href="#">
                        <div class="column news__blockContent displayFlexCenter">
                            <div class="news__blockImg background-colorRgb231670">
                                <img src="../../../public/img/toplist.svg" alt="Toplist">
                            </div>
                            <div class="news__titleAndPost">
                                <div class="news__titleTopic">Toplist</div>
                                <div class="descriptionUnderTitle">80 bài viết</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="paddingLeftRight20px">
                        <div class="column news__blockContent displayFlexCenter">
                            <div class="news__blockImg background-colorRgb2555730 ">
                                <img src="../../../public/img/howto.svg" alt="How - To">
                            </div>
                            <div class="news__titleAndPost">
                                <div class="news__titleTopic">How - To</div>
                                <div class="descriptionUnderTitle">4 bài viết</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="column news__blockContent displayFlexCenter">
                            <div class="news__blockImg background-colorRgb3162184">
                                <img src="../../../public/img/explore.svg" alt="Khám phá">
                            </div>
                            <div class="news__titleAndPost">
                                <div class="news__titleTopic">Khám phá</div>
                                <div class="descriptionUnderTitle">29 bài viết</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="technology-community">
            <div class="row displayFlex">
                <div class="column width520px marginRight230px paddingTopBottom90px">
                    <div class="title marginBottom16px">Kết nối với <span class="colorHex8a96ff">cộng đồng công
                            nghệ</span> để học hỏi và
                        tìm kiếm cơ hội</div>
                    <div class="descriptionUnderTitle">Với chức năng kết nối, bạn có thể liên kết với bạn bè, đồng
                        nghiệp, những người cùng đam mê
                        trong lĩnh vực Công nghệ để chia sẻ cũng như tìm kiếm những cơ hội nghề nghiệp mới, những mối
                        quan hệ mới thú vị.</div>
                </div>
                <div class="column">
                    <!-- <img src="../../../public/img/community-bg.svg" alt=""> -->
                    <img src="../../../public/img/banner4.webp" alt="Coder">
                </div>
            </div>
        </section>
    </main>
    <aside class="products center paddingTopBottom55px">
        <div class="row">
            <div class="title marginBottom16px">Đồ dùng, phục kiện độc đáo cho dân công nghệ</div>
            <div class="descriptionUnderTitle">Hoạt động tích cực để đổi lấy TPoint và voucher mua sắm những đồ dùng và
                phụ kiện công nghệ độc đáo
                mang đậm cá tính Techie</div>
            <div
                class="products__rowProducts paddingTopBottom55px displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                <div class="displayFlexCenter">
                    <button class="course__btnNext">
                        <img class="course__nextImg" src="../../../public/img/arrow-left-red.svg" alt="Arrow Left">
                    </button>
                </div>

                <div class="column width400px">
                    <div class="displayFlex">
                        <img src="../../../public/img/food1.webp" alt="Food">
                        <div class="displayGrid gridRows">
                            <img class="" src="../../../public/img/food2.webp" alt="Food">
                            <img src="../../../public/img/food3.webp" alt="Food">
                        </div>
                    </div>
                    <div class="products__titleUnderImg">Thực phẩm</div>
                </div>

                <div class="column width400px">
                    <div class="displayFlex">
                        <img src="../../../public/img/robot1.webp" alt="Robot">
                        <div class="displayGrid gridRows">
                            <img class="" src="../../../public/img/robot2 (1).webp" alt="Robot">
                            <img src="../../../public/img/robot3.webp" alt="Robot">
                        </div>
                    </div>
                    <div class="products__titleUnderImg">Robot</div>
                </div>

                <div class="column width400px">
                    <div class="displayFlex">
                        <img src="../../../public/img/clothes1.webp" alt="Clothe">
                        <div class="displayGrid gridRows">
                            <img class="" src="../../../public/img/clothes2.webp" alt="Clothe">
                            <img src="../../../public/img/clothes3.webp" alt="Clothe">
                        </div>
                    </div>
                    <div class="products__titleUnderImg">Quần áo</div>
                </div>

                <div class="displayFlexCenter">
                    <button class="course__btnNext ">
                        <img class="course__nextImg" src="../../../public/img/arrow-right-red.svg" alt="Arrow Right">
                    </button>
                </div>
            </div>
            <button class="products__btnBuyNow btn background-colorHexd54253">
                <span>Mua sắm ngay</span>
            </button>
        </div>
    </aside>
    <footer class="background-colorHex111319">
        <div class="row paddingTopBottom2rem">
            <div class="displayFlex footer__blocktitle1">
                <div class="column width715px">
                    <div><img class="footer__imgLogoTek4" src="../../../public/img/logo-2.webp" alt="Logo"></div>
                    <div class="footer__TextUnderImgAndAboveIcon">Chia sẻ kiến thức - Kết nối tương lai</div>
                    <div class="footer__blockIcon">
                        <a href="">
                            <img class="footer__imgIcon" src="../../../public/img/socials-fb.png" alt="Logo">
                        </a>
                        <a href="">
                            <img class="footer__imgIcon" src="../../../public/img/socials-tiktok.png" alt="logo">
                        </a>
                        <a href="">
                            <img class="footer__imgIcon" src="../../../public/img/socials-youtube.png" alt="Logo">
                        </a>
                        <a href="">
                            <img class="footer__imgIcon" src="../../../public/img/socials-ig.png" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="column width237px">
                    <div class="footer__blocktitle1-title">Về chúng tôi</div>
                    <div class="footer__blocktitle1-underTitle">Giới thiệu</div>
                    <div class="footer__blocktitle1-underTitle">Chính sách bảo mật</div>
                    <div class="footer__blocktitle1-underTitle">Điều khoản dịch vụ</div>
                </div>
                <div class="column width237px">
                    <div class="footer__blocktitle1-title">Học miễn phí</div>
                    <div class="footer__blocktitle1-underTitle">Khóa học</div>
                    <div class="footer__blocktitle1-underTitle">Luyện tập</div>
                </div>
                <div class="column width237px">
                    <div class="footer__blocktitle1-title">Cộng đồng</div>
                    <div class="footer__blocktitle1-underTitle">Kiến thức</div>
                    <div class="footer__blocktitle1-underTitle">Tin tức</div>
                    <div class="footer__blocktitle1-underTitle">Hỏi đáp</div>
                </div>
            </div>
            <div class="displayFlex">
                <div class="column width715px">
                    <div>CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC VÀ DỊCH VỤ BRONTOBYTE</div>
                    <div>
                        <span>Icon</span>
                        The Manor Central Park, đường Nguyễn Xiển, phường Đại Kim, quận Hoàng Mai, TP. Hà Nội
                    </div>
                </div>
                <div class="column width237px">
                    <div>THÔNG TIN LIÊN HỆ</div>
                    <div>
                        <span>Icon</span>
                        tek4.vn@gmail.com
                    </div>
                </div>
                <div class="column">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="">
                <div>©2024 TEK4.VN</div>
            </div>
        </div>
    </footer>
</body>

</html>