<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEK4.VN - Cộng đồng công nghệ cho người Việt</title>
    <link rel="shortcut icon" href="../../../public/img/logoTek4.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/home.css">
</head>

<body>
    <header>
        <nav>
            <div class="row displayFlex">
                <div class="column column-1 header__columnFlex">
                    <a href="" class="header__logoTek4">
                        <img src="../../../public/img/logo.webp" alt="Logo Tek4">
                    </a>
                    <div class="header__blockSearch">
                        <img class="header__blockSearch-logoSearch" src="../../../public/img/search-default-icon.svg"
                            alt="Search">
                        <input class="header__blockSearch-inputSearch" disabled placeholder="Tìm kiếm trên TEK4.VN">
                    </div>
                </div>
                <div class="column column-2 header__columnFlex">
                    <a href="" class="header__coursesAndNews">
                        <img src="../../../public/img/course.svg" alt="Course">
                    </a>
                    <a href="" class="header__coursesAndNews">
                        <img src="../../../public/img/news2.svg" alt="News">
                    </a>
                </div>
                <div class="column column-3 header__columnFlex">
                    <a href="">
                        <img src="../../../public/img/menu.svg" alt="Menu">
                    </a>
                    <a href="" class="header__loginAndRegister">
                        <span>Đăng nhập/Đăng ký</span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="row banner">
            <img class="header__banner" src="../../../public/img/banner.png" alt="Banner">
        </div>
    </header>
    <main>
        <section class="description">
            <div class="row displayFlex">
                <div class="column description__columnMargin60px paddingLeftRight35px">
                    <div class="description__description1">
                        <span>Nơi tốt nhất để học tập, rèn luyện kỹ năng, tìm kiếm việc làm và chia sẻ tri thức</span>
                    </div>

                    <button class="description__btnStartNow">
                        <span>Bắt đầu ngay</span>
                    </button>

                    <div class="description__iconAndDescription displayFlex">
                        <div class="description__logoCode displayFlexCenter">
                            <img src="../../../public/img/code.svg" alt="Code">
                        </div>
                        <div class="description__blockDescription2">
                            Học dễ hiểu - Đi đúng lộ trình
                            <br>
                            Rèn luyện kỹ năng bài bản - Nhận phản hồi trực tiếp
                            <br>
                            Kết nối cộng đồng để tạo ra cơ hội nghề nghiệp bền vững.
                        </div>
                    </div>
                </div>
                <div class="column description__columnMargin60px">
                    <div>Python</div>
                    <div>C++</div>
                    <div>JavaScript</div>
                </div>
            </div>
        </section>
        <div class="row">
            <section class="courses">

            </section>
        </div>
        <div class="row">
            <section class="practice">

            </section>
        </div>
        <div class="row">
            <section class="AIguide">

            </section>
        </div>
        <div class="row">
            <section class="news">

            </section>
        </div>
        <div class="row">
            <section class="technology-community">

            </section>
        </div>
        <div class="row">
            <aside class="products">

            </aside>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>