<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEK4.VN - Cộng đồng công nghệ cho người Việt</title>
    <link rel="shortcut icon" href="../../../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="../../../public/vendor/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../../../public/css/all.css">
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>

<body>
    <div class="frame" id="frameMain">
        <form>
            <h1 class="title">Đăng nhập <span class="colorHexd54253">TEK4.VN</span></h1>
            <h3 class="description">HỌC TẬP - LUYỆN TẬP - CHIA SẺ - KẾT NỐI - MỞ RA CƠ HỘI NGHỀ NGHIỆP VÀ HƠN THẾ NỮA
            </h3>
            <div class="errorBlock input-box d-None">
                <span class="iconError"><i class="fa-regular fa-circle-xmark colorHexd54253"></i></span>
                <span id="textError"></span>
            </div>
            <div class="email input-box" id="blockEmail">
                <img src="../../../public/img/userPrefix.e910c8576dc7245f624fe9f316667ee2.svg" alt="User">
                <input class="inputEmail" id="inputEmail" type="text" aria-label="ok" placeholder="Nhập email">
            </div>
            <div class="password input-box" id="blockPassword">
                <img src="../../../public/img/passwordPrefix.668c7912ab988a9f1e1adb4484a1b783.svg" alt="Password">
                <input class="inputPassword" id="inputPassword" type="text" aria-label="ok" placeholder="Nhập mật khẩu">
                <img id="eye" src="../../../public/img/eye-open.acd9355b68364f2c49674e40717030b4.svg" alt="Eye">
            </div>
            <div class="forgetPassword ">
                <a href="#" id="forgetPassword" class="colorHexd54253">Quên mật khẩu</a>
            </div>
            <button type="button" class="btnLogin" id="btnLogin">
                <span>Đăng nhập</span>
            </button>
            <div class="orLoginBy displayFlexCenter">Hoặc đăng nhập bằng</div>
            <div class="anotherLogin">
                <a href="" class="link">
                    <img src="../../../public/img/google-icon.95b74dafb19a0e8456fadf05a2128b1c.svg" alt="Eye">
                </a>
                <a href="" class="link">
                    <img src="../../../public/img/facebook-icon.3b5930d921a997de582cb72610312ad6.svg" alt="Eye">
                </a>
                <a href="" class="link">
                    <img src="../../../public/img/microsoft-team.a274494a09c8b42526597d4e01a8e7bd.svg" alt="Eye">
                </a>
                <a href="" class="link">
                    <img src="../../../public/img/linkedIn-icon.f6ed07c85b2f83bdfe90ee245e823e87.svg" alt="Eye">
                </a>
                <a href="" class="link">
                    <img src="../../../public/img/github-icon.1bbdde4db5285353c4b43eba8ef5c6de.svg" alt="Eye">
                </a>
            </div>
            <div class="footer">Bạn chưa có tài khoản? <a href="register.html" class="colorHexd54253">Đăng ký</a></div>
        </form>
    </div>

    <div class="frame displayNone" id="frameForgetPassword">
        <form>
            <h1 class="title">Quên mật khẩu?</h1>
            <div class="email input-box" id="blockInputEmailOrUserName">
                <img src="../../../public/img/userPrefix.e910c8576dc7245f624fe9f316667ee2.svg" alt="User">
                <input class="inputEmail" id="inputEmailOrUserName" type="text" aria-label="ok"
                    placeholder="Nhập email hoặc tên đăng nhập">
            </div>
            <div class="description">Vui lòng nhập tên đăng nhập hoặc email của bạn, chúng tôi sẽ gửi một email hướng
                dẫn khôi phục mật khẩu
                trong hòm thư của bạn.</div>
            <div class="btnConfirm">
                <span class="btnLogin">Xác nhận</span>
            </div>
            <div class="footer">Quay trở lại trang <span class="colorHexd54253">Đăng nhập</span></div>
        </form>
    </div>

    <script src="../../../public/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="../../../controllers/login.js"></script>
</body>

</html>