<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEK4.VN - Cộng đồng công nghệ cho người Việt</title>
    <link rel="shortcut icon" href="../../../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../public/css/all.css">
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>

<body>
    <div class="frame">
        <h1 class="title">Đăng nhập <span class="colorHexd54253">TEK4.VN</span></h1>
        <h3 class="description">HỌC TẬP - LUYỆN TẬP - CHIA SẺ - KẾT NỐI - MỞ RA CƠ HỘI NGHỀ NGHIỆP VÀ HƠN THẾ NỮA</h3>
        <div class="email input-box">
            <img src="../../../public/img/userPrefix.e910c8576dc7245f624fe9f316667ee2.svg" alt="User">
            <input class="form-control" type="text" aria-label="ok" placeholder="Nhập email">
        </div>
        <div class="password input-box">
            <img src="../../../public/img/passwordPrefix.668c7912ab988a9f1e1adb4484a1b783.svg" alt="Password">
            <input class="form-control" type="text" aria-label="ok" placeholder="Nhập mật khẩu">
            <img src="../../../public/img/eye-open.acd9355b68364f2c49674e40717030b4.svg" alt="Eye">
        </div>
        <div class="forgetPassword colorHexd54253">Quên mật khẩu</div>
        <div class="btnLogin"></div>
        <div class="orLoginBy">Hoặc đăng nhập bằng</div>
        <div class="anotherLogin">
            <img src="../../../public/img/google-icon.95b74dafb19a0e8456fadf05a2128b1c.svg" alt="Eye">
            <img src="../../../public/img/facebook-icon.3b5930d921a997de582cb72610312ad6.svg" alt="Eye">
            <img src="../../../public/img/microsoft-team.a274494a09c8b42526597d4e01a8e7bd.svg" alt="Eye">
            <img src="../../../public/img/linkedIn-icon.f6ed07c85b2f83bdfe90ee245e823e87.svg" alt="Eye">
            <img src="../../../public/img/github-icon.1bbdde4db5285353c4b43eba8ef5c6de.svg" alt="Eye">
        </div>
        <div class="Register">Bạn chưa có tài khoản? <span class="colorHexd54253">Đăng ký</span></div>
    </div>
</body>

</html>