<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEK4.VN - Cộng đồng công nghệ cho người Việt</title>
    <link rel="shortcut icon" href="../../../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/all.css">
    <link rel="stylesheet" href="../../../public/css/home.css">
    <link rel="stylesheet" href="../../../public/css/study.css">
    <link rel="stylesheet" href="../../../public/css/news.css">
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Nav -->
        <nav class="background-colorHex111319">
            <div class="row displayFlex">
                <div class="column column-1 FlexAlign-itemsCenter">
                    <a href="" class="header__logoTek4">
                        <img src="../../../public/img/logo.webp" alt="Logo Tek4">
                    </a>
                    <div class="header__blockSearch FlexAlign-itemsCenter" id="header__blockSearch">
                        <img class="header__blockSearch-logoSearch" id="header__blockSearch-logoSearch"
                            src="../../../public/img/search-default-icon.svg" alt="Search">
                        <input class="header__blockSearch-inputSearch" id="header__blockSearch-inputSearch" readonly
                            placeholder="Tìm kiếm trên TEK4.VN">
                    </div>
                </div>
                <div class="column column-2 FlexAlign-itemsCenter">
                    <a href="study.html" class="header__coursesAndNews">
                        <img class="logoImage" id="header__logoCourse" src="../../../public/img/course.svg"
                            alt="Course">
                        <div class="header__textStudy displayNone" id="header__textStudy">Học tập</div>
                    </a>
                    <a href="#" class="header__coursesAndNews">
                        <img class="logoImage" id="header__logoNews" src="../../../public/img/news2.svg" alt="News">
                        <div class="header__textNews displayNone" id="header__textNews">Tin tức</div>
                    </a>
                </div>
                <div class="column column-3 FlexAlign-itemsCenter">
                    <label for="header__imputNavSlip" class="header__blockMenu" id="header__blockMenu">
                        <img class="logoImage" id="header__iconMenu" src="../../../public/img/menu.svg" alt="Menu">
                    </label>
                    <div class="header__textMenu displayNone" id="header__textMenu">Menu</div>
                    <a href="#" class="header__loginAndRegister">
                        <span>Đăng nhập/Đăng ký</span>
                    </a>
                </div>
            </div>
            <div id="Search" class="displayNone">
                <div class="search">
                    <img class="search__imgClose" id="search__imgClose" src="../../../public/img/close-icon.svg"
                        alt="Close">
                    <div class="search__blockFrame">
                        <form>
                            <div class="search__blockSearch">
                                <div class="search__blockSearch-sub">
                                    <span class="search__iconSearch">
                                        <img src="../../../public/img/search-default-icon.svg" alt="tek4 icon">
                                    </span>
                                    <input class="search__input" placeholder="Bạn đang tìm kiếm điều gì?" id="search"
                                        type="text" value="">
                                </div>
                            </div>
                            <div class="search__filter">Lọc theo:</div>
                            <div class="search__blockCheckboxAndText colorHex868991">
                                <input class="search__checkbox" type="checkbox" name="khoahoc" id="khoahoc">
                                <label class="search__textNearCheckbox" for="khoahoc">Khóa học</label>
                                <input class="search__checkbox" type="checkbox" name="baiviet" id="baiviet">
                                <label class="search__textNearCheckbox" for="baiviet">Bài viết</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- dựa vào việc checked input để tạo hiệu ứng overlay và NavSlip -->
            <input type="checkbox" hidden name="" id="header__imputNavSlip">
            <label for="header__imputNavSlip" class="header__overlay"></label>
            <div class="header__blockNavSlip background-colorHex191c26 overflowAuto">
                <div class="header__subBlockNavSlip width475px">
                    <div class="">
                        <div class="header__blockNavSlip-TextMenu">Menu</div>
                        <div>
                            <div class="header__blockSearchNavSlip FlexAlign-itemsCenter">
                                <img class="header__blockSearch-logoSearch"
                                    src="../../../public/img/search-default-icon.svg" alt="Search">
                                <input class="header__blockSearch-inputSearch" placeholder="Tìm kiếm trong menu">
                            </div>
                        </div>
                        <div class="header__blockNavSlipStudyAndNews ">
                            <div class="marginBottom16px">
                                <div class="header__NavSlip-TextStudy">Học tập</div>
                                <div class="header__blockIconsAndTitleTopics">
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/lo-trinh-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Lộ trình</div>
                                            <div class="header__NavSlipUnderTitleTopic">Cung cấp các lộ trình học tập
                                                đầy đủ để đáp ứng các kỹ năng nghề nghiệp
                                                cụ thể. Hoàn thành lộ trình là có thể làm việc thực tế ngay lập tức.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/khoa-hoc-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Khóa học</div>
                                            <div class="header__NavSlipUnderTitleTopic">Danh sách các khóa học được
                                                thiết kế chi tiết, bài bản với bài tập thực
                                                hành giúp học dễ hiểu và nắm bắt kiến thức nhanh hơn.</div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/luyen-tap-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Luyện tập</div>
                                            <div class="header__NavSlipUnderTitleTopic">Các chủ đề Luyện tập với vô vàn
                                                các bài tập khác nhau để luyện tập các
                                                kỹ năng cụ thể giúp ôn luyện kiến thức và đi vào chuyên sâu hơn các vấn
                                                đề thực tế.</div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/tutorial-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Tutorial</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Hướng dẫn sử dụng các công nghệ mới nhất, giúp bạn dễ dàng tiếp cận và
                                                biết cách sử dụng các công nghệ cập nhật.
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="header__NavSlip-TextNews">Bài viết</div>
                                <div>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/kien-thuc-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Kiến thức</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Những bài viết kiến thức chuyên sâu, chất lượng được đội ngũ chuyên gia
                                                kiểm duyệt.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/tin-tuc-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Tin tức</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Các tin tức mới nhất về công nghệ giúp bạn cập nhật những xu hướng công
                                                nghệ mới nhất.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/editor-choice-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Editor Choice</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Các bài viết được chọn lọc bởi đội ngũ chuyên gia đánh giá.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/toplist-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Toplist</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Danh sách các công nghệ khuyến nghị tốt nhất.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/review-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Review</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Đánh giá các sản phẩm công nghệ, phần mềm chất lượng phổ biến.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex ">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/series-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Series</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Những bài viết nhiều kỳ được biên soạn.
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Nav -->
    </header>
    <!-- End Header -->
    <div class="displayFlex">
        <!-- Nav Left -->
        <div class="navLeft">
            <div class="navLeft__blockTopic navLeft__roadmap">
                <img src="../../../public/img/xep-hang-icon.svg" alt="Icon-Logo">
                <div class="navLeft__topicName">Ranking</div>
            </div>
        </div>
        <!-- End Nav Left -->
        <!-- Content -->
        <div class="content ">
            <div class="banner">
                <img class="header__ImgBanner" src="../../../public/img/banner.png" alt="Banner">
            </div>
            <!-- Topics -->
            <div class="topics">
                <!-- topic-list -->
                <div class="topics__topic-list">
                    <a href="" class="topics__blockTopic background-colorHexe91f63">
                        <span>Tất cả</span>
                    </a>
                    <a href="" class="topics__blockTopic background-colorHex5528af">
                        <span>Editor Choice</span>
                    </a>
                    <a href="" class="topics__blockTopic background-colorHex9d27b0">
                        <span>Kiến thức</span>
                    </a>
                    <a href="" class="topics__blockTopic background-colorHex58dcbd">
                        <span>Tin tức</span>
                    </a>
                    <a href="" class="topics__blockTopic background-colorHex262aaf">
                        <span>Series</span>
                    </a>
                    <a href="" class="topics__blockTopic background-colorHex57acdf">
                        <span>Top list</span>
                    </a>
                    <a href="" class="topics__blockTopic background-colorHex266baf">
                        <span>Review</span>
                    </a>
                </div>
                <!-- End topic-list -->
                <!-- Exemple Topic -->
                <div class="topics__exempleTopic">

                </div>
                <!-- End Exemple Topic -->
            </div>
            <!-- End Topics -->
            <!-- Trend -->
            <div class="trend">

            </div>
            <!-- End Trend -->
            <!-- Featured Topics -->
            <div class="featuredTopics">

            </div>
            <!-- End Feature Topics -->
            <!-- Footer -->
            <footer class="background-colorHex111319 ">
                <div class="">
                    <div class="displayFlex footer__blocktitle1">
                        <div class="column width674px">
                            <div><img class="footer__imgLogoTek4" src="../../../public/img/logo-2.webp" alt="Logo">
                            </div>
                            <div class="footer__TextUnderImgAndAboveIcon">Chia sẻ kiến thức - Kết nối tương lai</div>
                            <div class="footer__blockIcon">
                                <a href="">
                                    <img class="footer__imgIcon" src="../../../public/img/socials-fb.png" alt="Logo">
                                </a>
                                <a href="">
                                    <img class="footer__imgIcon" src="../../../public/img/socials-tiktok.png"
                                        alt="logo">
                                </a>
                                <a href="">
                                    <img class="footer__imgIcon" src="../../../public/img/socials-youtube.png"
                                        alt="Logo">
                                </a>
                                <a href="">
                                    <img class="footer__imgIcon" src="../../../public/img/socials-ig.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="column width224px">
                            <div class="footer__blocktitle1-title">Về chúng tôi</div>
                            <div class="footer__blocktitle1-underTitle">Giới thiệu</div>
                            <div class="footer__blocktitle1-underTitle">Chính sách bảo mật</div>
                            <div class="footer__blocktitle1-underTitle">Điều khoản dịch vụ</div>
                        </div>
                        <div class="column width224px">
                            <div class="footer__blocktitle1-title">Học miễn phí</div>
                            <div class="footer__blocktitle1-underTitle">Khóa học</div>
                            <div class="footer__blocktitle1-underTitle">Luyện tập</div>
                        </div>
                        <div class="column width224px">
                            <div class="footer__blocktitle1-title">Cộng đồng</div>
                            <div class="footer__blocktitle1-underTitle">Kiến thức</div>
                            <div class="footer__blocktitle1-underTitle">Tin tức</div>
                            <div class="footer__blocktitle1-underTitle">Hỏi đáp</div>
                        </div>
                    </div>
                    <div class="displayFlex footer__blocktitle2">
                        <div class="column width674px">
                            <div class="footer__CompanyName">CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC VÀ DỊCH VỤ BRONTOBYTE
                            </div>
                            <div class="footer__CompanyAddress displayFlex">
                                <div><img src="../../../public/img/icon-location.svg" alt="Địa chỉ"></div>
                                <div>The Manor Central Park, đường Nguyễn Xiển, phường Đại Kim, quận Hoàng Mai, TP. Hà
                                    Nội
                                </div>
                            </div>
                        </div>
                        <div class="column width224px">
                            <div class="footer__ContactInfor">THÔNG TIN LIÊN HỆ</div>
                            <div>
                                <span class="footer__IconEmail"><i class="fa-solid fa-envelope"></i></span>
                                <span>tek4.vn@gmail.com</span>
                            </div>
                        </div>
                        <div class="column">
                            <img class="footer__ImgDMCA" src="../../../public/img/dmca_protected_1_120.png" alt="">
                            <img class="footer__ImgRegister" src="../../../public/img/dk.png" alt="">
                        </div>
                    </div>
                    <div class="height4rem">
                        <div class="footer__TextSourse">©2024 TEK4.VN</div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
        <!-- End Content -->
    </div>
    <script src="../../../app/controllers/home.js"></script>
</body>

</html>