<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEK4.VN - Cộng đồng công nghệ cho người Việt</title>
    <link rel="shortcut icon" href="../../../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/all.css">
    <link rel="stylesheet" href="../../../public/css/login.css">
    <link rel="stylesheet" href="../../../public/css/register.css">
</head>

<body>
    <div class="frame">
        <form>
            <h1 class="title">Đăng ký TEK4.VN</h1>
            <h3 class="description">Học tập - Luyện tập - Chia sẻ - Kết nối - Mở ra cơ hội nghề nghiệp và hơn thế nữa
            </h3>
            <div class="errorBlock input-box d-None">
                <span class="iconError"><i class="fa-regular fa-circle-xmark colorHexd54253"></i></span>
                <span id="textError"></span>
            </div>
            <form>
                <div class="lastName-firstName displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                    <div class="lastName email input-box" id="lastName">
                        <img src="../../../public/img/name-icon.ede509425c9c05110d28a06dad35df3a.svg" alt="User">
                        <input class="inputEmail" id="inputLastName" type="text" placeholder="Họ">
                    </div>
                    <div class="name email input-box" id="name">
                        <img src="../../../public/img/name-icon.ede509425c9c05110d28a06dad35df3a.svg" alt="User">
                        <input class="inputEmail" id="inputName" type="text" placeholder="Tên">
                    </div>
                </div>
                <div class="email input-box" id="blockEmail">
                    <img src="../../../public/img/email-icon.ccce795cca8c2c01b4b9f0199d6cdef3.svg" alt="User">
                    <input class="inputEmail" id="inputEmail" type="text" placeholder="Nhập email">
                </div>
                <div class="password email input-box" id="blockPassword">
                    <img src="../../../public/img/passwordPrefix.668c7912ab988a9f1e1adb4484a1b783.svg" alt="User">
                    <input class="inputEmail" id="inputPassword" type="text" placeholder="Mật khẩu">
                    <img id="eye" src="../../../public/img/eye-open.acd9355b68364f2c49674e40717030b4.svg" alt="Eye">
                </div>
                <div class="confirmPassword email input-box" id="blockConfirmPassword">
                    <img src="../../../public/img/passwordPrefix.668c7912ab988a9f1e1adb4484a1b783.svg" alt="User">
                    <input class="inputEmail" id="inputConfirmPassword" type="text" placeholder="Xác nhận mật khẩu">
                    <img id="eyeTwo" src="../../../public/img/eye-open.acd9355b68364f2c49674e40717030b4.svg" alt="Eye">
                </div>
                <button class="btnRegister btnLogin" type="button">Đăng ký</button>
            </form>
            <div class="policy">Bằng cách đăng ký TEK4.VN, bạn đồng ý với <a
                    href="https://tek4.vn/gioi-thieu/dieu-khoan-dich-vu" class="colorHexd54253">Điều khoản dịch
                    vụ</a> và
                <a href="https://tek4.vn/gioi-thieu/chinh-sach-quyen-rieng-tu" class="colorHexd54253">Chính sách quyền
                    riêng tư</a>
                của TEK4.VN.
            </div>
            <div class="orLoginBy displayFlexCenter">Hoặc bạn cũng có thể kết nối với chúng
                tôi thông qua</div>
            <div class="anotherLogin">
                <a href="" class="link">
                    <img src="../../../public/img/google-icon.95b74dafb19a0e8456fadf05a2128b1c.svg" alt="Eye">
                </a>
                <a href="" class="link">
                    <img src="../../../public/img/facebook-icon.3b5930d921a997de582cb72610312ad6.svg" alt="Eye">
                </a>
                <a href="" class="link">
                    <img src="../../../public/img/microsoft-team.a274494a09c8b42526597d4e01a8e7bd.svg" alt="Eye">
                </a>
                <a href="" class="link">
                    <img src="../../../public/img/linkedIn-icon.f6ed07c85b2f83bdfe90ee245e823e87.svg" alt="Eye">
                </a>
                <a href="" class="link">
                    <img src="../../../public/img/github-icon.1bbdde4db5285353c4b43eba8ef5c6de.svg" alt="Eye">
                </a>
            </div>
            <div class="footer">Bạn đã có tài khoản? <a href="login.html" class="colorHexd54253">Đăng nhập</a></div>
        </form>
    </div>

    <script src="../../../public/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="../../../controllers/register.js">
    </script>
</body>

</html>