<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEK4.VN - Cộng đồng công nghệ cho người Việt</title>
    <link rel="shortcut icon" href="../../../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/all.css">
    <link rel="stylesheet" href="../../../public/css/home.css">
    <link rel="stylesheet" href="../../../public/css/study.css">
</head>

<body>
    <header>
        <nav class="background-colorHex111319">
            <div class="row displayFlex">
                <div class="column column-1 FlexAlign-itemsCenter">
                    <a href="" class="header__logoTek4">
                        <img src="../../../public/img/logo.webp" alt="Logo Tek4">
                    </a>
                    <div class="header__blockSearch FlexAlign-itemsCenter" id="header__blockSearch">
                        <img class="header__blockSearch-logoSearch" id="header__blockSearch-logoSearch"
                            src="../../../public/img/search-default-icon.svg" alt="Search">
                        <input class="header__blockSearch-inputSearch" id="header__blockSearch-inputSearch" readonly
                            placeholder="Tìm kiếm trên TEK4.VN">
                    </div>
                </div>
                <div class="column column-2 FlexAlign-itemsCenter">
                    <a href="study.html" class="header__coursesAndNews">
                        <img class="logoImage" id="header__logoCourse" src="../../../public/img/course.svg"
                            alt="Course">
                        <div class="header__textStudy displayNone" id="header__textStudy">Học tập</div>
                    </a>
                    <a href="#" class="header__coursesAndNews">
                        <img class="logoImage" id="header__logoNews" src="../../../public/img/news2.svg" alt="News">
                        <div class="header__textNews displayNone" id="header__textNews">Tin tức</div>
                    </a>
                </div>
                <div class="column column-3 FlexAlign-itemsCenter">
                    <label for="header__imputNavSlip" class="header__blockMenu" id="header__blockMenu">
                        <img class="logoImage" id="header__iconMenu" src="../../../public/img/menu.svg" alt="Menu">
                    </label>
                    <div class="header__textMenu displayNone" id="header__textMenu">Menu</div>
                    <a href="#" class="header__loginAndRegister">
                        <span>Đăng nhập/Đăng ký</span>
                    </a>
                </div>
            </div>
            <div id="Search" class="displayNone">
                <div class="search">
                    <img class="search__imgClose" id="search__imgClose" src="../../../public/img/close-icon.svg"
                        alt="Close">
                    <div class="search__blockFrame">
                        <form>
                            <div class="search__blockSearch">
                                <div class="search__blockSearch-sub">
                                    <span class="search__iconSearch">
                                        <img src="../../../public/img/search-default-icon.svg" alt="tek4 icon">
                                    </span>
                                    <input class="search__input" placeholder="Bạn đang tìm kiếm điều gì?" id="search"
                                        type="text" value="">
                                </div>
                            </div>
                            <div class="search__filter">Lọc theo:</div>
                            <div class="search__blockCheckboxAndText colorHex868991">
                                <input class="search__checkbox" type="checkbox" name="khoahoc" id="khoahoc">
                                <label class="search__textNearCheckbox" for="khoahoc">Khóa học</label>
                                <input class="search__checkbox" type="checkbox" name="baiviet" id="baiviet">
                                <label class="search__textNearCheckbox" for="baiviet">Bài viết</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- dựa vào việc checked input để tạo hiệu ứng overlay và NavSlip -->
            <input type="checkbox" hidden name="" id="header__imputNavSlip">
            <label for="header__imputNavSlip" class="header__overlay"></label>
            <div class="header__blockNavSlip background-colorHex191c26 overflowAuto">
                <div class="header__subBlockNavSlip width475px">
                    <div class="">
                        <div class="header__blockNavSlip-TextMenu">Menu</div>
                        <div>
                            <div class="header__blockSearchNavSlip FlexAlign-itemsCenter">
                                <img class="header__blockSearch-logoSearch"
                                    src="../../../public/img/search-default-icon.svg" alt="Search">
                                <input class="header__blockSearch-inputSearch" placeholder="Tìm kiếm trong menu">
                            </div>
                        </div>
                        <div class="header__blockNavSlipStudyAndNews ">
                            <div class="marginBottom16px">
                                <div class="header__NavSlip-TextStudy">Học tập</div>
                                <div class="header__blockIconsAndTitleTopics">
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/lo-trinh-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Lộ trình</div>
                                            <div class="header__NavSlipUnderTitleTopic">Cung cấp các lộ trình học tập
                                                đầy đủ để đáp ứng các kỹ năng nghề nghiệp
                                                cụ thể. Hoàn thành lộ trình là có thể làm việc thực tế ngay lập tức.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/khoa-hoc-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Khóa học</div>
                                            <div class="header__NavSlipUnderTitleTopic">Danh sách các khóa học được
                                                thiết kế chi tiết, bài bản với bài tập thực
                                                hành giúp học dễ hiểu và nắm bắt kiến thức nhanh hơn.</div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/luyen-tap-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Luyện tập</div>
                                            <div class="header__NavSlipUnderTitleTopic">Các chủ đề Luyện tập với vô vàn
                                                các bài tập khác nhau để luyện tập các
                                                kỹ năng cụ thể giúp ôn luyện kiến thức và đi vào chuyên sâu hơn các vấn
                                                đề thực tế.</div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/tutorial-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Tutorial</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Hướng dẫn sử dụng các công nghệ mới nhất, giúp bạn dễ dàng tiếp cận và
                                                biết cách sử dụng các công nghệ cập nhật.
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="header__NavSlip-TextNews">Bài viết</div>
                                <div>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/kien-thuc-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Kiến thức</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Những bài viết kiến thức chuyên sâu, chất lượng được đội ngũ chuyên gia
                                                kiểm duyệt.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/tin-tuc-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Tin tức</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Các tin tức mới nhất về công nghệ giúp bạn cập nhật những xu hướng công
                                                nghệ mới nhất.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/editor-choice-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Editor Choice</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Các bài viết được chọn lọc bởi đội ngũ chuyên gia đánh giá.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/toplist-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Toplist</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Danh sách các công nghệ khuyến nghị tốt nhất.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex marginBottom16px">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/review-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Review</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Đánh giá các sản phẩm công nghệ, phần mềm chất lượng phổ biến.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="displayFlex ">
                                        <div class="header__NavSlip-blockIcon">
                                            <img src="../../../public/img/series-icon.svg" alt="Icon-Logo">
                                        </div>
                                        <div>
                                            <div class="header__NavSlipTitleTopic">Series</div>
                                            <div class="header__NavSlipUnderTitleTopic">
                                                Những bài viết nhiều kỳ được biên soạn.
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="displayFlex">
        <div class="navLeft">
            <div class="navLeft__blockTopic">
                <img src="../../../public/img/lo-trinh-icon.svg" alt="Icon-Logo">
                <div>Lộ trình</div>
            </div>
            <div class="navLeft__blockTopic">
                <img src="../../../public/img/khoa-hoc-icon.svg" alt="Icon-Logo">
                <div>Khóa học</div>
            </div>
            <div class="navLeft__blockTopic">
                <img src="../../../public/img/luyen-tap-icon.svg" alt="Icon-Logo">
                <div>Luyện tập</div>
            </div>
            <div class="line"></div>
            <div class="navLeft__blockTopic">
                <img src="../../../public/img/tutorial-icon.svg" alt="Icon-Logo">
                <div>Tutorial</div>
            </div>
            <div class="navLeft__blockTopic">
                <img src="../../../public/img/chon-nghe-icon.svg" alt="Icon-Logo">
                <div>Chọn nghề</div>
            </div>
        </div>
        <div class="content ">
            <div class="banner">
                <img class="header__ImgBanner" src="../../../public/img/banner.png" alt="Banner">
            </div>
            <div class="banner2">
                <img src="../../../public/img/banner-home-course.svg" alt="Banner">
            </div>
            <div class="courses">
                <div class="title course__title center">Các khóa học phổ biến nhất</div>
                <div class="descriptionUnderTitle course__descriptionUnderTitle center">Cho dù bạn là bất cứ ai, hãy tận
                    dụng thời gian rảnh rỗi của
                    mình để
                    học hỏi
                    kiến thức từ các khóa học hoàn toàn miễn phí và được thiết kế công phu bởi TEK4.VN
                </div>
                <div class="row1 displayFlex">
                    <div class="column course__cloumn1">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img" src="../../../public/img/thumbnail.webp" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[65563]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Lập trình Python cơ bản
                                    </span>
                                </a>
                                <div>259 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow ">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn2 marginLeftRight0375rem">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img" src="../../../public/img/thumbnail (1).webp" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[45740]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Lập trình C cơ bản
                                    </span>
                                </a>
                                <div>245 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn3 marginLeftRight0375rem">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img " src="../../../public/img/thumbnail (2).webp"
                                    alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[43731]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Lập trình C++ từ cơ bản đến nâng cao
                                    </span>
                                </a>
                                <div>2346 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Trung bình</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course__blockRow2 row2 displayFlex">
                    <div class="column course__cloumn1">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img"
                                    src="../../../public/img/image_processing20230602-1-tiegfu.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[65563]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Cấu trúc dữ liệu và Giải thuật
                                    </span>
                                </a>
                                <div>304 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Trung bình</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow ">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn2 marginLeftRight0375rem">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img"
                                    src="../../../public/img/image_processing20230228-1-eh3xk2.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[45740]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Lập trình hướng đối tượng với Java
                                    </span>
                                </a>
                                <div>309 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn3 marginLeftRight0375rem">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img "
                                    src="../../../public/img/image_processing20210830-1-c4c94r.png" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[43731]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Xây dựng giao diện với HTML &#38; CSS </span>
                                </a>
                                <div>227 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row displayFlexCenter">
                    <button class="practice__btnPracticeNow displayFlexCenter">
                        <span class="colorHexd54253">Xem thêm</span>
                        <!-- <img src="../../../public/img/arrow-right-red.svg" alt="Arrow Right"> -->
                    </button>
                </div>
            </div>

            <div class="roadmap">
                <div class="title course__title center">Học tập theo lộ trình</div>
                <div class="descriptionUnderTitle roadmap__descriptionUnderTitle course__descriptionUnderTitle center">
                    Các khóa học được thiết kế bài
                    bản theo các chủ đề từ cơ bản đến nâng cao. Học là có thể làm được, đi làm được !!!
                </div>
                <div class="displayFlex flex-wrap">
                    <div class="column course__cloumn3 marginLeftRight50px">
                        <div class="blockCourse blockRoadmap">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img roadmap__blockImage-img"
                                    src="../../../public/img/image_processing20230325-1-qt3wje.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse roadmap__descriptionDetailCourse">
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem colorHex868991">
                                        NodeJS Back-End Developer </span>
                                </a>
                                <div>Lộ trình giúp xây dựng kỹ năng lập trình web back-end sử dụng NodeJS</div>
                                <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <div class="">
                                        <div class="displayFlexCenter">
                                            <img src="../../../public/img/c-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">3 khóa học</span>
                                        </div>
                                        <div class="FlexAlign-itemsCenter">
                                            <img src="../../../public/img/clock-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">300 giờ</span>
                                        </div>
                                    </div>
                                    <button class="practice__btnPracticeNow displayFlexCenter">
                                        <span class="colorHexd54253">Bắt đầu học</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn3 marginLeftRight50px">
                        <div class="blockCourse blockRoadmap">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img roadmap__blockImage-img"
                                    src="../../../public/img/image_processing20230328-1-kuwlhw.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse roadmap__descriptionDetailCourse">
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem colorHex868991">
                                        ReactJS Front-End Developer </span>
                                </a>
                                <div>ReactJS Front-End Developer</div>
                                <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <div class="">
                                        <div class="displayFlexCenter">
                                            <img src="../../../public/img/c-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">0 khóa học</span>
                                        </div>
                                        <div class="FlexAlign-itemsCenter">
                                            <img src="../../../public/img/clock-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">300 giờ</span>
                                        </div>
                                    </div>
                                    <button class="practice__btnPracticeNow displayFlexCenter">
                                        <span class="colorHexd54253">Bắt đầu học</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column roadmap__col3 course__cloumn3 marginLeftRight50px">
                        <div class="blockCourse blockRoadmap">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img roadmap__blockImage-img"
                                    src="../../../public/img/image_processing20230328-1-4w5wvw.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse roadmap__descriptionDetailCourse">
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem colorHex868991">
                                        MERN Full-Stack Developer </span>
                                </a>
                                <div>MERN Full-Stack Developer</div>
                                <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <div class="">
                                        <div class="displayFlexCenter">
                                            <img src="../../../public/img/c-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">0 khóa học</span>
                                        </div>
                                        <div class="FlexAlign-itemsCenter">
                                            <img src="../../../public/img/clock-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">400 giờ</span>
                                        </div>
                                    </div>
                                    <button class="practice__btnPracticeNow displayFlexCenter">
                                        <span class="colorHexd54253">Bắt đầu học</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row displayFlexCenter">
                    <button class="practice__btnPracticeNow roadmap__seeMore displayFlexCenter">
                        <span class="colorHexd54253">Xem thêm</span>
                    </button>
                </div>
            </div>

            <div class="practice">
                <div class="title course__title center">Luyện tập</div>
                <div class="descriptionUnderTitle practice__descriptionUnderTitle course__descriptionUnderTitle center">
                    Luyện tập, củng cố kiến thức sau các khóa học qua các bài tập theo từng chủ đề, từng ngôn ngữ lập
                    trình tại <span><img src="../../../public/img/logo-tek.svg" alt=""></span>
                </div>
                <div>
                    <div>
                        Cấu trúc dữ liệu và giải th</div>
                    <div>Thuật toán trong an toàn</div>
                    <div>1000+ bài code thiếu niên</div>
                </div>
                <div>
                    <div>Regex</div>
                    <div>
                        Toán học</div>
                    <div>Giải thuật</div>
                </div>
                <div class="row displayFlexCenter">
                    <button class="practice__btnPracticeNow roadmap__seeMore displayFlexCenter">
                        <span class="colorHexd54253">Xem thêm</span>
                    </button>
                </div>
            </div>
            <footer class="background-colorHex111319 displayNone">
                <div class="row paddingTopBottom2rem">
                    <div class="displayFlex footer__blocktitle1">
                        <div class="column width715px">
                            <div><img class="footer__imgLogoTek4" src="../../../public/img/logo-2.webp" alt="Logo">
                            </div>
                            <div class="footer__TextUnderImgAndAboveIcon">Chia sẻ kiến thức - Kết nối tương lai</div>
                            <div class="footer__blockIcon">
                                <a href="">
                                    <img class="footer__imgIcon" src="../../../public/img/socials-fb.png" alt="Logo">
                                </a>
                                <a href="">
                                    <img class="footer__imgIcon" src="../../../public/img/socials-tiktok.png"
                                        alt="logo">
                                </a>
                                <a href="">
                                    <img class="footer__imgIcon" src="../../../public/img/socials-youtube.png"
                                        alt="Logo">
                                </a>
                                <a href="">
                                    <img class="footer__imgIcon" src="../../../public/img/socials-ig.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="column width237px">
                            <div class="footer__blocktitle1-title">Về chúng tôi</div>
                            <div class="footer__blocktitle1-underTitle">Giới thiệu</div>
                            <div class="footer__blocktitle1-underTitle">Chính sách bảo mật</div>
                            <div class="footer__blocktitle1-underTitle">Điều khoản dịch vụ</div>
                        </div>
                        <div class="column width237px">
                            <div class="footer__blocktitle1-title">Học miễn phí</div>
                            <div class="footer__blocktitle1-underTitle">Khóa học</div>
                            <div class="footer__blocktitle1-underTitle">Luyện tập</div>
                        </div>
                        <div class="column width237px">
                            <div class="footer__blocktitle1-title">Cộng đồng</div>
                            <div class="footer__blocktitle1-underTitle">Kiến thức</div>
                            <div class="footer__blocktitle1-underTitle">Tin tức</div>
                            <div class="footer__blocktitle1-underTitle">Hỏi đáp</div>
                        </div>
                    </div>
                    <div class="displayFlex footer__blocktitle2">
                        <div class="column width715px">
                            <div class="footer__CompanyName">CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC VÀ DỊCH VỤ BRONTOBYTE
                            </div>
                            <div class="footer__CompanyAddress displayFlex">
                                <div><img src="../../../public/img/icon-location.svg" alt="Địa chỉ"></div>
                                <div>The Manor Central Park, đường Nguyễn Xiển, phường Đại Kim, quận Hoàng Mai, TP. Hà
                                    Nội
                                </div>
                            </div>
                        </div>
                        <div class="column width237px">
                            <div class="footer__ContactInfor">THÔNG TIN LIÊN HỆ</div>
                            <div>
                                <span class="footer__IconEmail"><i class="fa-solid fa-envelope"></i></span>
                                <span>tek4.vn@gmail.com</span>
                            </div>
                        </div>
                        <div class="column">
                            <img class="footer__ImgDMCA" src="../../../public/img/dmca_protected_1_120.png" alt="">
                            <img class="footer__ImgRegister" src="../../../public/img/dk.png" alt="">
                        </div>
                    </div>
                    <div class="height4rem">
                        <div class="footer__TextSourse">©2024 TEK4.VN</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../../../app/controllers/home.js"></script>
</body>

</html>