<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEK4.VN - Cộng đồng công nghệ cho người Việt</title>
    <link rel="shortcut icon" href="../../../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/all.css">
    <link rel="stylesheet" href="../../../public/css/home.css">
    <link rel="stylesheet" href="../../../public/css/study.css">
</head>

<body>
    <header>

    </header>
    <div class="displayFlex">
        <div class="navLeft">
            <div class="navLeft__blockTopic navLeft__roadmap">
                <img src="../../../public/img/lo-trinh-icon.svg" alt="Icon-Logo">
                <div>Lộ trình</div>
            </div>
            <div class="navLeft__blockTopic navLeft__course">
                <img src="../../../public/img/khoa-hoc-icon.svg" alt="Icon-Logo">
                <div>Khóa học</div>
            </div>
            <div class="navLeft__blockTopic navLeft__practice">
                <img src="../../../public/img/luyen-tap-icon.svg" alt="Icon-Logo">
                <div>Luyện tập</div>
            </div>
            <div class="line"></div>
            <div class="navLeft__blockTopic navLeft__tutorial">
                <img src="../../../public/img/tutorial-icon.svg" alt="Icon-Logo">
                <div>Tutorial</div>
            </div>
            <div class="navLeft__blockTopic navLeft__chooseProfession">
                <img src="../../../public/img/chon-nghe-icon.svg" alt="Icon-Logo">
                <div>Chọn nghề</div>
            </div>
        </div>
        <div class="content ">
            <div class="banner">
                <img class="header__ImgBanner" src="../../../public/img/banner.png" alt="Banner">
            </div>
            <div class="banner2">
                <img src="../../../public/img/banner-home-course.svg" alt="Banner">
            </div>
            <div class="courses">
                <div class="title course__title center">Các khóa học phổ biến nhất</div>
                <div class="descriptionUnderTitle course__descriptionUnderTitle center">Cho dù bạn là bất cứ ai, hãy tận
                    dụng thời gian rảnh rỗi của
                    mình để
                    học hỏi
                    kiến thức từ các khóa học hoàn toàn miễn phí và được thiết kế công phu bởi TEK4.VN
                </div>
                <div class="row1 displayFlex">
                    <div class="column course__cloumn1">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img" src="../../../public/img/thumbnail.webp" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[65563]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Lập trình Python cơ bản
                                    </span>
                                </a>
                                <div>259 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow ">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn2 marginLeftRight0375rem">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img" src="../../../public/img/thumbnail (1).webp" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[45740]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Lập trình C cơ bản
                                    </span>
                                </a>
                                <div>245 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn3 marginLeftRight0375rem">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img " src="../../../public/img/thumbnail (2).webp"
                                    alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[43731]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Lập trình C++ từ cơ bản đến nâng cao
                                    </span>
                                </a>
                                <div>2346 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Trung bình</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course__blockRow2 row2 displayFlex">
                    <div class="column course__cloumn1">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img"
                                    src="../../../public/img/image_processing20230602-1-tiegfu.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[65563]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Cấu trúc dữ liệu và Giải thuật
                                    </span>
                                </a>
                                <div>304 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Trung bình</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow ">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn2 marginLeftRight0375rem">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img"
                                    src="../../../public/img/image_processing20230228-1-eh3xk2.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[45740]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Lập trình hướng đối tượng với Java
                                    </span>
                                </a>
                                <div>309 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn3 marginLeftRight0375rem">
                        <img class="tagBasic" src="../../../public/img/tag-basic.svg" alt="Basic">
                        <div class="blockCourse">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img "
                                    src="../../../public/img/image_processing20210830-1-c4c94r.png" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse">
                                <div class="starAndHeart displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <span class="assess colorHexffbe3d">
                                        5.0
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <!-- <span class="colorHex868990">[43731]</span> -->
                                    </span>

                                </div>
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem">
                                        Xây dựng giao diện với HTML &#38; CSS </span>
                                </a>
                                <div>227 <span class="colorHexb8bcc6">bài học</span></div>
                                <div>Độ khó: <span class="colorHexb8bcc6">Dễ</span></div>
                                <div class="colorHex1e90ff">Nghề nghiệp</div>
                                <div class="course__descriptionDetailCourse-line"></div>
                                <div class="course__blockBtnStudyNow">
                                    <div><i class="fa-solid fa-heart"></i></div>
                                    <button class="course__btnStudyNow btn background-colorHexd54253">
                                        <span>Học ngay</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row displayFlexCenter">
                    <button class="practice__btnPracticeNow roadmap__seeMore displayFlexCenter">
                        <span class="colorHexd54253">Xem thêm</span>
                    </button>
                </div>
            </div>
            <!-- Roadmap -->
            <div class="roadmap">
                <div class="title course__title center">Học tập theo lộ trình</div>
                <div class="descriptionUnderTitle roadmap__descriptionUnderTitle course__descriptionUnderTitle center">
                    Các khóa học được thiết kế bài
                    bản theo các chủ đề từ cơ bản đến nâng cao. Học là có thể làm được, đi làm được !!!
                </div>
                <!-- Courses -->
                <div class="displayFlex flex-wrap">
                    <div class="column course__cloumn3 marginLeftRight50px">
                        <div class="blockCourse blockRoadmap">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img roadmap__blockImage-img"
                                    src="../../../public/img/image_processing20230325-1-qt3wje.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse roadmap__descriptionDetailCourse">
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem colorHex868991">
                                        NodeJS Back-End Developer </span>
                                </a>
                                <div>Lộ trình giúp xây dựng kỹ năng lập trình web back-end sử dụng NodeJS</div>
                                <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <div class="">
                                        <div class="displayFlexCenter">
                                            <img src="../../../public/img/c-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">3 khóa học</span>
                                        </div>
                                        <div class="FlexAlign-itemsCenter">
                                            <img src="../../../public/img/clock-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">300 giờ</span>
                                        </div>
                                    </div>
                                    <button class="practice__btnPracticeNow displayFlexCenter">
                                        <span class="colorHexd54253">Bắt đầu học</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column course__cloumn3 marginLeftRight50px">
                        <div class="blockCourse blockRoadmap">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img roadmap__blockImage-img"
                                    src="../../../public/img/image_processing20230328-1-kuwlhw.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse roadmap__descriptionDetailCourse">
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem colorHex868991">
                                        ReactJS Front-End Developer </span>
                                </a>
                                <div>ReactJS Front-End Developer</div>
                                <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <div class="">
                                        <div class="displayFlexCenter">
                                            <img src="../../../public/img/c-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">0 khóa học</span>
                                        </div>
                                        <div class="FlexAlign-itemsCenter">
                                            <img src="../../../public/img/clock-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">300 giờ</span>
                                        </div>
                                    </div>
                                    <button class="practice__btnPracticeNow displayFlexCenter">
                                        <span class="colorHexd54253">Bắt đầu học</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column roadmap__col3 course__cloumn3 marginLeftRight50px">
                        <div class="blockCourse blockRoadmap">
                            <div class="course__blockImage marginBottom16px">
                                <img class="course__blockImage-img roadmap__blockImage-img"
                                    src="../../../public/img/image_processing20230328-1-4w5wvw.jpg" alt="">
                            </div>
                            <div class="course__descriptionDetailCourse roadmap__descriptionDetailCourse">
                                <a href="">
                                    <span class="fontWeight700 font-size1125rem colorHex868991">
                                        MERN Full-Stack Developer </span>
                                </a>
                                <div>MERN Full-Stack Developer</div>
                                <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                    <div class="">
                                        <div class="displayFlexCenter">
                                            <img src="../../../public/img/c-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">0 khóa học</span>
                                        </div>
                                        <div class="FlexAlign-itemsCenter">
                                            <img src="../../../public/img/clock-red-icon.svg" alt="">
                                            <span class="colorHexa3bbf5">400 giờ</span>
                                        </div>
                                    </div>
                                    <button class="practice__btnPracticeNow displayFlexCenter">
                                        <span class="colorHexd54253">Bắt đầu học</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Course -->
                <div class="row displayFlexCenter">
                    <button class="practice__btnPracticeNow roadmap__seeMore displayFlexCenter">
                        <span class="colorHexd54253">Xem thêm</span>
                    </button>
                </div>
            </div>
            <!-- End Roadmap -->
            <!-- Practice -->
            <div class="practice">
                <div class="title course__title center practice__heading">Luyện tập</div>
                <div class="descriptionUnderTitle practice__descriptionUnderTitle course__descriptionUnderTitle center">
                    Luyện tập, củng cố kiến thức sau các khóa học qua các bài tập theo từng chủ đề, từng ngôn ngữ lập
                    trình tại <span><img src="../../../public/img/logo-tek.svg" alt=""></span>
                </div>
                <!-- Topic -->
                <div class="practice__practiceTopics">
                    <div class="practice__topic">
                        <div class="practice__blockTopic">
                            <div class="practice__topicContent">
                                <div class="practice__blockImg">
                                    <img src="../../../public/img/c-primary-icon.svg" alt="">
                                </div>
                                <div class="practice__textContent">
                                    <div class="practice__titleTopic">Cấu trúc dữ liệu và giải thuật</div>
                                    <div class="practice__descriptionUnderTitleTopic">Luyện tập kĩ năng lập trình với
                                        các bài tập thuộc chủ đề cấu trúc dữ liệu và giải thuật</div>
                                    <div class="numberOfLessons">Số bài: 266 bài</div>
                                </div>
                            </div>
                            <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <div class="course__btnStudyNow btn background-colorHexd54253 practice__btnStart">
                                    <img src="../../../public/img/icon-runner.svg" alt="">
                                    <span>Bắt đầu</span>
                                </div>
                                <div class="practice__avatars">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar1 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar2 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar3 avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="practice__topic">
                        <div class="practice__blockTopic">
                            <div class="practice__topicContent">
                                <div class="practice__blockImg">
                                    <img src="../../../public/img/c-primary-icon.svg" alt="">
                                </div>
                                <div class="practice__textContent">
                                    <div class="practice__titleTopic">Thuật toán trong an toàn thông tin</div>
                                    <div class="practice__descriptionUnderTitleTopic">Chủ đề thuật toán ứng dụng trong
                                        an toàn thông tin .</div>
                                    <div class="numberOfLessons">Số bài: 52 bài</div>
                                </div>
                            </div>
                            <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <div class="course__btnStudyNow btn background-colorHexd54253 practice__btnStart">
                                    <img src="../../../public/img/icon-runner.svg" alt="">
                                    <span>Bắt đầu</span>
                                </div>
                                <div class="practice__avatars">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar1 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar2 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar3 avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="practice__topic">
                        <div class="practice__blockTopic">
                            <div class="practice__topicContent">
                                <div class="practice__blockImg">
                                    <img src="../../../public/img/c-primary-icon.svg" alt="">
                                </div>
                                <div class="practice__textContent">
                                    <div class="practice__titleTopic">1000+ bài code thiếu niên</div>
                                    <div class="practice__descriptionUnderTitleTopic">Luyện tập kỹ năng lập trình với
                                        hơn 1000+ bài tập code cho thiếu niên.</div>
                                    <div class="numberOfLessons">Số bài: 2264 bài</div>
                                </div>
                            </div>
                            <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <div class="course__btnStudyNow btn background-colorHexd54253 practice__btnStart">
                                    <img src="../../../public/img/icon-runner.svg" alt="">
                                    <span>Bắt đầu</span>
                                </div>
                                <div class="practice__avatars">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar1 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar2 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar3 avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="practice__practiceTopics">
                    <div class="practice__topic">
                        <div class="practice__blockTopic">
                            <div class="practice__topicContent">
                                <div class="practice__blockImg">
                                    <img src="../../../public/img/c-primary-icon.svg" alt="">
                                </div>
                                <div class="practice__textContent">
                                    <div class="practice__titleTopic">Regex</div>
                                    <div class="practice__descriptionUnderTitleTopic">Các bài tập liên quan đến biểu
                                        thức chính quy</div>
                                    <div class="numberOfLessons">Số bài: 47 bài</div>
                                </div>
                            </div>
                            <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <div class="course__btnStudyNow btn background-colorHexd54253 practice__btnStart">
                                    <img src="../../../public/img/icon-runner.svg" alt="">
                                    <span>Bắt đầu</span>
                                </div>
                                <div class="practice__avatars">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar1 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar2 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar3 avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="practice__topic">
                        <div class="practice__blockTopic">
                            <div class="practice__topicContent">
                                <div class="practice__blockImg">
                                    <img src="../../../public/img/c-primary-icon.svg" alt="">
                                </div>
                                <div class="practice__textContent">
                                    <div class="practice__titleTopic">Toán học</div>
                                    <div class="practice__descriptionUnderTitleTopic">Các bài tập liên quan đến toán học
                                        và xử lý toán học bằng các công cụ lập trình</div>
                                    <div class="numberOfLessons">Số bài: 171 bài</div>
                                </div>
                            </div>
                            <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <div class="course__btnStudyNow btn background-colorHexd54253 practice__btnStart">
                                    <img src="../../../public/img/icon-runner.svg" alt="">
                                    <span>Bắt đầu</span>
                                </div>
                                <div class="practice__avatars">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar1 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar2 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar3 avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="practice__topic">
                        <div class="practice__blockTopic">
                            <div class="practice__topicContent">
                                <div class="practice__blockImg">
                                    <img src="../../../public/img/c-primary-icon.svg" alt="">
                                </div>
                                <div class="practice__textContent">
                                    <div class="practice__titleTopic">Giải thuật</div>
                                    <div class="practice__descriptionUnderTitleTopic">Các bài luyện tập để làm quen và
                                        vận dụng thành thạo các giải thuật, thuật toán phổ biến, rèn luyện tư duy thuật
                                        toán và giải quyết vấn đề.</div>
                                    <div class="numberOfLessons">Số bài: 76 bài</div>
                                </div>
                            </div>
                            <div class="displayFlexAlign-itemsCenterAndJustify-contentSpace-between">
                                <div class="course__btnStudyNow btn background-colorHexd54253 practice__btnStart">
                                    <img src="../../../public/img/icon-runner.svg" alt="">
                                    <span>Bắt đầu</span>
                                </div>
                                <div class="practice__avatars">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar1 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar2 avatar">
                                    <img src="../../../public/img/topWin.jpg" alt="" class="avatar3 avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Topic -->
                <div class="row displayFlexCenter">
                    <button class="practice__btnPracticeNow roadmap__seeMore displayFlexCenter">
                        <span class="colorHexd54253">Xem thêm</span>
                    </button>
                </div>
            </div>
            <!-- End Practice -->
            <!-- Tutorial -->
            <div class="tutorial">
                <div class="title text-alignCenter">Tutorial</div>
                <div class="tutorial__topics">
                    <div class="tutorial__topic">
                        <div class="tutorial__topic-content">
                            <div class="heading">
                                <div>Hướng dẫn giải bài tập lập trình cơ bản</div>
                            </div>
                            <div class="lessons">
                                <div class="lessons-blockImg">
                                    <img class="lessons-img"
                                        src="../../../public/img/image_processing20220916-1-q35lpg.png" alt="">
                                </div>
                                <div class="lessonName"><a href="">Bài tập C</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="tutorial__topic">
                        <div class="tutorial__topic-content">
                            <div class="heading">
                                <div>Lập trình căn bản</div>
                            </div>
                            <div class="lessons-list">
                                <div class="lessons">
                                    <div class="lessons-blockImg">
                                        <img class="lessons-img img41x46"
                                            src="../../../public/img/image_processing20220907-1-bufyef.png" alt="">
                                    </div>
                                    <div class="lessonName"><a href="">C Tutorial</a></div>
                                </div>
                                <div class="lessons">
                                    <div class="lessons-blockImg">
                                        <img class="lessons-img img46x46"
                                            src="../../../public/img/image_processing20220926-1-opdd3a.png" alt="">
                                    </div>
                                    <div class="lessonName"><a href="">Python Tutorial</a></div>
                                </div>
                                <div class="lessons">
                                    <div class="lessons-blockImg">
                                        <img class="lessons-img img41x46"
                                            src="../../../public/img/image_processing20221228-1-to7590.png" alt="">
                                    </div>
                                    <div class="lessonName"><a href="">C++ Tutorial</a></div>
                                </div>
                                <div class="lessons">
                                    <div class="lessons-blockImg">
                                        <img class="lessons-img img46x46"
                                            src="../../../public/img/image_processing20221228-1-ylttb.png" alt="">
                                    </div>
                                    <div class="lessonName"><a href="">Java Tutorial</a></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tutorial__topic">
                        <div class="tutorial__topic-content">
                            <div class="heading">
                                <div>Lập trình web</div>
                            </div>
                            <div class="lessons">
                                <div class="lessons-blockImg">
                                    <img class="lessons-img img41x46"
                                        src="../../../public/img/image_processing20221228-1-7ng6tx.png" alt="">
                                </div>
                                <div class="lessonName"><a href="">JavaScript Tutorial</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tutorial -->
            <!-- Footer -->
            <footer></footer>
            <!-- End Footer -->
        </div>
    </div>
    <script type="module">
        import navigation from "../partials/navigation.js";
        const headerTag = document.querySelector("header");
        headerTag.innerHTML = navigation();

        import footer from "../partials/footer.js";
        const footerTag = document.querySelector("footer");
        footerTag.outerHTML = footer();
    </script>
    <script defer src="../../../app/controllers/home.js"></script>
</body>

</html>